<div class="modal animated fadeIn" tabindex="-1" role="dialog" #modalElement>
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
                <div class="row px-1">
                    
                    <div class="col-lg-3 col-md-6 px-2">
                        <app-usercard [profile]="user" [isOwnProfile]="false"></app-usercard>
                        
                        <div class="row mx-auto mb-3" *ngIf="auth.isLoggedIn()">
                            <div class="col-auto mx-auto align-self-center">
                                <button *ngIf="!isFriend && !isInTheFollowList && !isMe" [disabled]="isRequestSent(user) || isInTheFollowList" class="btn btn-outline-primary btn-sm"
                                    (click)="follow(user._id)">
                                    <i class="fal fa-eye" aria-hidden="true"></i> {{ lang.text.user.follow}}</button>
                                <button *ngIf="!isFriend && isInTheFollowList && !isMe" class="btn btn-outline-primary btn-sm" (click)="acceptRequest(user._id)">
                                    <i class="fal fa-check" aria-hidden="true"></i> {{ lang.text.user.accept}}</button>
                                <button *ngIf="!isFriend && isInTheFollowList && !isMe" class="btn btn-outline-primary btn-sm" (click)="rejectRequest(user.nickName)">
                                    <i class="fal fa-user-times" aria-hidden="true"></i> {{ lang.text.general.cancel}}</button>
                                <button *ngIf="!justView && isFriend && !isMe" class="btn btn-outline-primary btn-sm" (click)="unfriend(user.nickName)">
                                    <i class="fal fa-user-times" aria-hidden="true"></i> {{ lang.text.user.leave}}</button>
                                <!-- <button *ngIf="!justView && isFriend && !isMe" class="btn btn-outline-primary btn-sm" (click)="creditAskSend(user.nickName, user.profilePicture)">
                                <i class="fal fa-credit-card" aria-hidden="true"></i> {{ lang.text.user.askCredit}}</button> -->
                                <button class="btn btn-outline-primary btn-sm" *ngIf="!isMe" (click)="answerMessage(user.nickName)">
                                    <i class="fal fa-envelope" aria-hidden="true"></i> {{ lang.text.user.talk}}</button>
                                <!-- <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">
                                    <i class="fal fa-times-circle" aria-hidden="true"></i> {{ lang.text.general.close}}</button> -->
                            </div>
                        </div>
                        <div class="row justify-content-center mb-3" *ngIf="auth.isLoggedIn()">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body p-2">

                                        <h5 *ngIf="user?.firstName && user?.lastName" class="text-center">
                                            {{ user?.firstName + ' ' + user?.lastName }}</h5>

                                        <!-- <p *ngIf="user?.birthday">
                                            <b>{{ lang.text.user.birthday}}:</b> {{ user?.birthday | date:'short' }}</p> -->
                                        <p *ngIf="user?.bio" class="mb-2">
                                            <b>{{ lang.text.user.bio}}:</b> <small class="text-muted">{{ user?.bio }}</small></p>
                                        <p *ngIf="user?.jobStatus" class="mb-2">
                                            <b>{{ lang.text.user.jobStatus}}:</b> <small class="text-muted">{{ user?.jobStatus}}</small></p>
                                        <p *ngIf="user?.education" class="mb-2">
                                            <b>{{ lang.text.user.educationStatus}}:</b> <small class="text-muted">{{ user?.education
                                                }}</small></p>
                                        <p *ngIf="!user?.birthday && !user?.bio && !user?.jobStatus && !user?.education" class="mb-2"><small
                                                class="text-muted">{{ lang.text.user.noInfo}}</small></p>
                                        <p class="mb-2" *ngIf="user?.twitterLink || user?.instagramLink || user?.snapchatLink || user?.youtubeLink || user?.linkedinLink || user?.googleplusLink">

                                        </p>
                                        <ul class="list-inline border-top pt-2 mb-0">
                                            <li class="list-inline-item social-icon" *ngIf="user?.instagramLink">
                                                <a href="{{ user?.instagramLink }}" target="_blank">
                                                    <i class="fab fa-instagram fa-2x"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item social-icon" *ngIf="user?.snapchatLink">
                                                <a href="{{ user?.snapchatLink }}" target="_blank">
                                                    <i class="fab fa-snapchat fa-2x"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item social-icon" *ngIf="user?.youtubeLink">
                                                <a href="{{ user?.youtubeLink }}" target="_blank">
                                                    <i class="fab fa-youtube fa-2x"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item social-icon" *ngIf="user?.linkedinLink">
                                                <a href="{{ user?.linkedinLink }}" target="_blank">
                                                    <i class="fab fa-linkedin fa-2x"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-6 px-2 mb-0">
                        <div class="card mb-3">
                            <div class="card-body py-0 px-0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="{{ global.URL_S3_USERS + user?.coverImage }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/kutatku/app_images/uploadempty.png'"
                                            class="action-icon w-100 cover-image" (click)="showThisImage(user?.coverImage)">
                                    </div>

                                    <!-- Image Gallery -->
                                    <div class="row justify-content-center mt-n-60" *ngIf="user.images?.length > 0">
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="px-2 col-4 col-md-2" *ngFor="let image of user.images">
                                                    <div class="gallery-thumbnails">
                                                        <img src="{{ global.URL_S3_USERS + image }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/kutatku/app_images/uploadempty.png'"
                                                            class="action-icon w-100 small-image img-thumbnail mb-4" (click)="showThisImage(image)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card mb-3">
                            <div class="card-body">
                                <p class="lead mb-0">
                                    <i class="fal fa-comment" aria-hidden="true"></i> {{ user.shortMessage }}</p>
                            </div>
                        </div> -->
                        <p class="text-center" *ngIf="user?.posts?.length == 0">{{ lang.text.user.noPosts}}</p>
                        <!-- Posts and activities -->
                        <div class="card-columns">
                            <app-post class="mb-4" [mylocation]="'profile'" [inView]="'inView'" [post]="post" *ngFor="let post of user?.posts">
                            </app-post>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>