@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

.small-image {
    height: 100px;
    object-fit: cover;
}

.cover-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    background: white;
    margin-top: -2px;
}

.mt-n-60 {
    margin-top: -60px;
}

.list-inline-item {
    display: inline-block;
}
