@media (min-width: 768px) {
    .modal-xl {
        width: 80%;
        max-width:1140px;
    }
}

.small-image {
    height: 100px;
    object-fit: cover;
    border: 4px solid white !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.cover-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    background: white;
    margin-top: -2px;
}

.mt-n-60 {
    margin-top: -60px;
}

.list-inline-item {
    display: inline-block;
}
