<div class="modal fade" tabindex="-1" role="dialog" #modalElement>
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row px-2">
                    <div class="col-xl-3 col-md-3 px-2 col-lg-6">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="card bg-dark text-white">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-5 col-6 my-auto" id="profilePicture">
                                                <img src="{{ global.URL_S3_USERS + user.profilePicture }}" class="action-icon w-100 rounded-circle" alt="profil" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'"
                                                    (click)="showThisImage(user.profilePicture)">
                                            </div>
                                            <div class="col-lg-7 col-6 align-self-center">
                                                <span class="my-0 py-0">
                                                    <b>
                                                        <i>@{{ user.nickName }}</i>
                                                    </b>
                                                </span>
                                                <hr class="my-2">
                                                <small>
                                                    <i class="fa fa-users" aria-hidden="true"></i> Arkadaslar: {{ user?.following?.length }}</small>
                                                <br>
                                                <small>
                                                    <i class="fa fa-comment" aria-hidden="true"></i> Paylasimlar: {{ user?.posts?.length }}</small>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <div class="col">
                                <div class="card bg-dark text-white">
                                    <div class="card-body">
                                        <p *ngIf="user?.twitterLink || user?.instagramLink || user?.snapchatLink || user?.youtubeLink || user?.linkedinLink || user?.googleplusLink">
                                            <b>Sosyal Medya:</b>
                                        </p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item" *ngIf="user?.twitterLink">
                                                <a href="{{ user?.twitterLink }}" target="_blank">
                                                    <i class="fab fa-twitter fa-2x"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item" *ngIf="user?.instagramLink">
                                                <a href="{{ user?.instagramLink }}" target="_blank">
                                                    <i class="fab fa-instagram fa-2x"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item" *ngIf="user?.snapchatLink">
                                                <a href="{{ user?.snapchatLink }}" target="_blank">
                                                    <i class="fab fa-snapchat fa-2x"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item" *ngIf="user?.youtubeLink">
                                                <a href="{{ user?.youtubeLink }}" target="_blank">
                                                    <i class="fab fa-youtube fa-2x"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item" *ngIf="user?.linkedinLink">
                                                <a href="{{ user?.linkedinLink }}" target="_blank">
                                                    <i class="fab fa-linkedin fa-2x"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item" *ngIf="user?.googleplusLink">
                                                <a href="{{ user?.googleplusLink }}" target="_blank">
                                                    <i class="fab fa-google-plus fa-2x"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <p *ngIf="user?.firstName && user?.lastName">
                                            <b>Isim, soyisim:</b> {{ user?.firstName + ' ' + user?.lastName }}</p>

                                        <p *ngIf="user?.birthday">
                                            <b>Dogum tarihi:</b> {{ user?.birthday | date:'short' }}</p>
                                        <p *ngIf="user?.bio">
                                            <b>Oz gecmis:</b> {{ user?.bio }}</p>
                                        <p *ngIf="user?.jobStatus">
                                            <b>Is durumu:</b> {{ user?.jobStatus}}</p>
                                        <p *ngIf="user?.education">
                                            <b>Egitim durumu:</b> {{ user?.education }}</p>
                                        <p *ngIf="!user?.birthday && !user?.bio && !user?.jobStatus && !user?.education">Bu kullanici hakkinda pek bir bilgi henuz yok.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-9 col-md-9 px-2 col-lg-6 mb-0">
                        <div class="card mb-3">
                            <div class="card-body py-0 px-0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="{{ global.URL_S3_USERS + user?.coverImage }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/uploadempty.png'"
                                            class="action-icon w-100 cover-image" (click)="showThisImage(user?.coverImage)">
                                    </div>

                                    <!-- Image Gallery -->
                                    <div class="row justify-content-center mt-n-60" *ngIf="user.images?.length > 0">
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="px-2 col" *ngFor="let image of user.images">
                                                    <div class="gallery-thumbnails">
                                                        <img src="{{ global.URL_S3_USERS + image }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/uploadempty.png'"
                                                            class="action-icon w-100 small-image img-thumbnail mb-4" (click)="showThisImage(image)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="lead mb-0">
                                    <i class="fa fa-comment" aria-hidden="true"></i> {{ user.shortMessage }}</p>
                            </div>
                        </div>
                        <p class="text-center" *ngIf="user?.posts?.length == 0">Hic bir paylasim bulunamadi!</p>
                        <!-- Posts and activities -->
                        <div class="card-columns">
                            <app-post class="mb-4" [mylocation]="'profile'" [inView]="'inView'" [post]="post" *ngFor="let post of user?.posts">
                            </app-post>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-2">
                <button *ngIf="!isFriend && !isInTheFollowList && !isMe" [disabled]="isRequestSent(user) || isInTheFollowList" class="btn btn-primary btn-sm"
                    (click)="follow(user._id)">
                    <i class="fa fa-eye" aria-hidden="true"></i> Takip et</button>
                <button *ngIf="!isFriend && isInTheFollowList && !isMe" class="btn btn-success btn-sm" (click)="acceptRequest(user._id)">
                    <i class="fa fa-check" aria-hidden="true"></i> Kabul</button>
                <button *ngIf="!isFriend && isInTheFollowList && !isMe" class="btn btn-danger btn-sm" (click)="rejectRequest(user.nickName)">
                    <i class="fa fa-user-times" aria-hidden="true"></i> Iptal</button>
                <button *ngIf="!justView && isFriend && !isMe" class="btn btn-danger btn-sm" (click)="unfriend(user.nickName)">
                    <i class="fa fa-user-times" aria-hidden="true"></i> Ayril</button>
                <button *ngIf="!justView && isFriend && !isMe" class="btn btn-warning btn-sm" (click)="creditAskSend(user.nickName)">
                    <i class="fa fa-credit-card" aria-hidden="true"></i> Kredi</button>
                <button class="btn btn-info btn-sm" *ngIf="!isMe" (click)="answerMessage(user.nickName)">
                    <i class="fa fa-envelope" aria-hidden="true"></i> Konus</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>