<div class="container  animated fadeIn">
    <div class="row">
        <div class="col-xl-12 col-lg-12 mb-4 px-2 mb-3">
            <div class="card">
                <div class="card-header p-2">
                    <i class="fa fa-newspaper"></i> Seri Ilanlar
                </div>
                <div class="card-body row">
                    <div class="card border action-icon mb-3" (click)="openAdWindow()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="text-primary text-center mb-0"><b>Kutatku seri ilanlarda paylas</b> <i class="fas fa-plus"></i></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>