<div class="col">
    <span class="btn btn-info float-right" [routerLink]="['/']">Go Back</span>
    <h1>TERMS & CONDITIONS FOR BETA SOFTWARE</h1>
    <p>THIS PAGE (TOGETHER WITH THE DOCUMENTS REFERRED TO ON IT) CONTAINS THE TERMS AND CONDITIONS OF USE OF “KUTATKU BETA
        SOFTWARE” TO BE ACCEPTED BEFORE USING OF ANY “KUTATKU BETA SOFTWARE” ONLINE AND/OR AS A WEB APPLICATION. PLEASE READ
        THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING ANY SOFTWARE ON THIS WEBSITE AND/OR SERVER. YOU SHOULD UNDERSTAND
        THAT BY USING ANY SOFTWARE ON THIS WEBSITE, YOU AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS. THESE TERMS AND
        CONDITIONS CONSTITUTE A LEGAL AND ENFORCEABLE CONTRACT BETWEEN YOU AND KUTATKU LLC. IF YOU DO NOT AGREE TO THESE
        TERMS AND CONDITIONS, ABANDON THE REGISTRATION PROCESS AND DO NOT INSTALL OR USE “KUTATKU BETA SOFTWARE”.</p>
    <h2>1. BETA USER CONDITIONS</h2>
    <ul>
        <li>1.1 Your use of the KUTATKU Beta Software is governed by these terms and conditions (“Beta User Conditions”)
            which you should read carefully before using KUTATKU Beta Software. These Beta User Conditions represent a binding
            contract between KUTATKU LLC and you. If you do not agree with these Beta User Conditions, please do not subscribe
            or use KUTATKU Beta Software.</li>
        <li>1.2 KUTATKU Technologies may update or amend these Beta User Conditions at any time. KUTATKU LLC will communicate
            such changes to you via the email address you provided at subscription.</li>
        <li>1.3 These Beta User Conditions apply to you regardless of how you have accessed the KUTATKU Beta Software and
            regardless of the territory in which you live or conduct business.</li>
    </ul>
    <h2>2. KUTATKU BETA SOFTWARE; LIMITED WARRANTY AND LIABILITY</h2>
    <ul>
        <li>2.1 Although utilizable by experienced users, KUTATKU Beta Software in all its forms is still being developed,
            tested and evaluated. KUTATKU Beta Software has not been released for sale, distribution or any use by the general
            public.
        </li>
        <li>2.2 KUTATKU BETA SOFTWARE IN ALL ITS FORMS (WEB OR MOBILE APP) IS PROVIDED TO YOU "AS IS" WITHOUT WARRANTY OF
            ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY OF MERCHANTABILITY, NON-INFRINGEMENT
            OR FITNESS FOR A PARTICULAR PURPOSE. USE OF KUTATKU BETA SOFTWARE IS ENTIRELY AT YOUR OWN RISK AND MAY VOID WARRANTY
            ON YOUR PRODUCT. SHOULD KUTATKU BETA SOFTWARE PROVE DEFECTIVE, YOU ASSUME THE COST OF ALL NECESSARY MAINTENANCE,
            SERVICING OR REPAIR. IT IS THEREFORE YOUR RESPONSIBILITY TO TAKE ADEQUATE PRECAUTION AGAINST POSSIBLE DAMAGES
            RESULTING FROM THE USE OF KUTATKU BETA SOFTWARE. KUTATKU BETA SOFTWARE SHOULD UNDER NO CIRCUMSTANCES BE USED
            ON SENSITIVE AND/OR VALUABLE DATA. IF YOU ARE IN ANY DOUBT, PLEASE DO NOT INSTALL AND/OR USE KUTATKU BETA SOFTWARE.</li>
        <li>2.3 TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, KUTATKU TECHNOLOGIES WILL NOT BE LIABLE TO YOU FOR ANY
            DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE KUTATKU BETA SOFTWARE (INCLUDING BUT NOT LIMITED TO LOSS OF
            DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE OF KUTATKU BETA
            SOFTWARE TO OPERATE WITH ANY OTHER PROGRAMS). IN NO EVENT SHALL KUTATKU TECHNOLOGIES’ LIABILITY EXCEED THE PRICE
            YOU PAID FOR KUTATKU BETA SOFTWARE, IF APPLICABLE.</li>
        <li>2.4 WE EXPRESSLY REPRESENT THAT KUTATKU BETA SOFTWARE IS NOT A FINAL PRODUCT AND, AS SUCH, MAY CONTAIN VARIOUS
            ERRORS, DEFECTS AND IT MAY BE UNSTABLE. WE DO NOT RECOMMEND INSTALLING KUTATKU BETA SOFTWARE DURING FULL OR EVERYDAY
            OPERATION. FURTHERMORE, WE DO NOT RECOMMEND TO INSTALL KUTATKU BETA SOFTWARE UNLESS YOU ARE AN EXPERIENCED USER.</li>
    </ul>
    <h2>3. NO TECHNICAL SUPPORT</h2>
    <p>KUTATKU Technologies will not provide any technical support, maintenance or any other services for any KUTATKU Beta
        Software.
    </p>
    <h2>4. NO UPDATES</h2>
    <p>KUTATKU Technologies will not provide any updates to KUTATKU Beta Software, any updated content utilized by KUTATKU
        Beta Software (such as modules, specs, features, or design) (“Updates”). However, should KUTATKU Technologies in
        its sole discretion provide you with any Updates, such Updates will be deemed to form part of KUTATKU Beta Software
        for all purposes under these Beta User Conditions, unless other terms of use are provided by KUTATKU LLC in connection
        with such Updates.</p>
    <h2>5. COPYRIGHT LICENSE</h2>
    <p>Specific terms and conditions of a copyright license granted to you by KUTATKU LLC and entitling you to use KUTATKU
        Beta Software for the purposes of evaluation and testing are included in the End User Software License Agreement
        concluded between KUTATKU LLC and you (EULA). In order to use the Beta Portal and to use the KUTATKU Beta Software
        you are required to accept these Beta User Conditions, the EULA and KUTATKU LLC Privacy Policy.</p>
    <h2>6. FEEDBACK</h2>
    <p>You will give KUTATKU LLC feedback about KUTATKU Beta Software consisting of, without limitation, your suggestions,
        comments or any other feedback, whether it is required or provided on a voluntary basis (“Feedback”). If you provide
        KUTATKU LLC with any Feedback, as part of the testing and evaluation of KUTATKU Beta Software, you agree that: (a)
        KUTATKU LLC may freely use, disclose, reproduce, license, distribute and otherwise commercialize the Feedback in
        any KUTATKU LLC product, specification or other documentation; and (b) you will not give KUTATKU LLC any Feedback
        (i) that you have reason to believe is subject to any patent, copyright, or other intellectual property claim or
        right of any third party; or (ii) that is subject to license terms that seek to require any KUTATKU LLC product incorporating
        or derived from any Feedback, or other KUTATKU LLC intellectual property, to be licensed to or otherwise shared with
        any third party.</p>
    <h2>7. PRIVACY POLICY</h2>
    <p>KUTATKU Technologies recognizes the importance of maintaining the privacy of personal data which it collects and processes.
        By accepting these Beta User Conditions, you expressly agree to be bound by the KUTATKU LLC Privacy Policy.</p>
    <h2>8. CONFIDENTIALITY</h2>
    <ul>
        <li>8.1 KUTATKU Beta Software, any information relating to beta testing progress and results, the Feedback, any product-related
            information and any other proprietary technology or know-how provided to you in whatever form by KUTATKU Technologies
            through the Beta Portal or in connection with testing and evaluation of KUTATKU Beta Software is confidential
            (“Confidential Information”).
        </li>
        <li> 8.2 You will keep, and ensure that any and all persons, firms, companies or organizations associated with you
            keep, all Confidential Information confidential and not disclose it to any person, unless permitted under this
            clause. This confidentiality obligation does not apply to the disclosure of Confidential Information which: (a)
            is or comes into public domain, except through breach of the confidentiality obligation under this clause; (b)
            comes lawfully into your possession from a third party who is not bound by a confidentiality obligation relating
            to such Confidential Information; (c) is required to be disclosed by any court of competent jurisdiction or any
            competent judicial, governmental, supervisory or regulatory body, or any law, provided that you will promptly
            notify KUTATKU LLC in writing, or (d) is disclosed by you with KUTATKU LLC’s prior written consent. </li>
        <li>8.3 UNDER NO CIRCUMSTANCES MAY ANY INFORMATION ABOUT THE TESTING PROGRESS AND/OR RESULTS BE PROVIDED TO PERSONS
            THAT ARE NOT INVOLVED IN THE BETA TESTING PROCESS. ANY PUBLICATION OF BETA VERSIONS TESTING RESULTS, REVIEWS
            OR EVALUATIONS IS ONLY PERMITTED WITH THE PRIOR WRITTEN CONSENT OF KUTATKU LLC.</li>
    </ul>
    <h2>9. LANGUAGE</h2>
    <p>The governing language of these Beta User Conditions is English. Although KUTATKU LLC may provide one or more translations
        for your convenience, the English version shall prevail in the event of any conflict or discrepancy between the English
        and any other language version of these Beta User Conditions.</p>
    <h2>10. GOVERNING LAW</h2>
    <p>These Beta User Conditions will be governed by the laws of the State of New Jersey.</p>
    <h2>11. DISPUTE RESOLUTION</h2>
    <p>All disputes arising out of or in connection with these Beta User Conditions shall be finally decided by state or
        federal courts sitting in the State of New Jersey.</p>
    <h2>12. ENTIRE AGREEMENT</h2>
    <p>These Beta User Conditions (together with the documents to which they refer) contain the whole agreement between you
        and KUTATKU LLC relating to the use of The KUTATKU Beta Software and supersede all previous agreements between you
        and KUTATKU LLC relating to it. You acknowledge that in agreeing to these Beta User Conditions you have not relied
        on any representation, warranty or other assurance except those set out on the Beta Portal.</p>
</div>