<div class="modal fade" #modalElement tabindex="-1" role="dialog">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" (click)="close()">&times;</button>
                <form [formGroup]="adForm">
                    <div class="row">
                        <div class="col-2 align-self-center">{{ lang.text.classifieds.category }}</div>
                        <div class="col-10">
                            <select formControlName="category" id="category" class="form-control">
                                <option value="tasit">{{ lang.text.classifieds.vehicle }}</option>
                                <option value="emlak">{{ lang.text.classifieds.realEstate }}</option>
                                <option value="is">{{ lang.text.classifieds.jobs }}</option>
                                <option value="servis">{{ lang.text.classifieds.service }}</option>
                                <option value="satis">{{ lang.text.classifieds.buySell }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input #adtitle formControlName="title" id="title" class="form-control my-2" placeholder="{{ lang.text.admin.adTitle }}"
                                maxlength="256" />

                            <textarea #adcontent formControlName="content" id="content" class="form-control my-2" rows="5"
                                placeholder="{{ lang.text.admin.adText }}" maxlength="1024"></textarea>
                        </div>
                    </div>
                    <div class="row my-0">
                        <p class="col my-0 text-right small text-muted">
                            {{ 1024 - adcontent.value.length }} {{ lang.text.general.charsLeft }}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="btn btn-info text-center btn-sm mb-0" *ngIf="!imageToShow" for="adPictureFile">
                                <i class="fa fa-image" aria-hidden="true"></i> {{ lang.text.general.selectPicture }}</label>
                            <label class="btn btn-danger text-center btn-sm mb-0" *ngIf="imageToShow" (click)="deleteAdPicture()">
                                <i class="fa fa-trash" aria-hidden="true"></i> {{ lang.text.general.deletePicture }}</label>

                            <input hidden id="adPictureFile" type="file" (change)="fileChangeEvent($event)" />

                            <image-cropper *ngIf="imageChangedEvent" [cropper]="cropperSize" [imageChangedEvent]="imageChangedEvent"
                                [maintainAspectRatio]="true" [aspectRatio]="1/1" [resizeToWidth]="320" format="jpeg"
                                (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                            <canvas id="rotateCanvas" class="d-none"></canvas>
                            <div class="rotate-preview-wrapper mx-auto m-2" *ngIf="isRotating">
                                <img id="i1" class="rotate-image-preview" src="" alt="" />
                            </div>
                        </div>
                        <div class="row col justify-content-center mx-auto">
                            <button class="btn btn-warning text-center btn-sm" *ngIf="croppedImage" type="button"
                                (click)="rotateImage()">
                                <i class="fas fa-sync-alt"></i> {{ lang.text.general.turn }}</button>
                            <button class="btn btn-success text-center btn-sm" *ngIf="croppedImage" type="button"
                                (click)="addAdImage()">
                                <i class="fa fa-image" aria-hidden="true"></i> {{ lang.text.general.upload }}</button>
                            <button class="btn btn-danger text-center btn-sm" *ngIf="croppedImage" type="button"
                                (click)="emptyAdImage()">
                                <i class="fa fa-image" aria-hidden="true"></i> {{ lang.text.general.cancel }}</button>
                            <img hidden [src]="croppedImage" />
                        </div>
                    </div>

                    <div class="row my-4 text-center" *ngIf="pictureMessage">
                        <div class="col">
                            {{ pictureMessage }}
                        </div>
                    </div>

                    <div class="row justify-content-center my-4" *ngIf="imageToShow">
                        <div class="col-9 align-self-center">
                            <img class="w-100" src="{{global.URL_S3_ADS + imageToShow}}">
                        </div>
                        {{ lang.text.general.pictureSuccessful }}
                    </div>
                </form>
            </div>
            <div class="modal-footer p-2">
                <button class="btn btn-primary btn-sm" type="submit" (click)="onSubmit()" [disabled]="adForm.value.content == '' || (croppedImage != '' && imageToShow == '')">
                    <i class="fa fa-share-square" aria-hidden="true"></i> {{ lang.text.general.share }}</button>
                <button type="button" class="btn btn-default btn-sm" (click)="close(false)">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> {{ lang.text.general.close }}</button>
            </div>
        </div>
    </div>
</div>