.scrollable {
    max-height: 400px;
    height: 400px;
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-wrap: break-word;
    word-break: break-all;
    background: #ddd;
}

.darker-bg {
    background: #eee;
}

.alert {
    border-radius: 16px !important;
}