.scrollable {
    max-height: 400px;
    height: 400px;
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-wrap: break-word;
    background: #efefef;
}

::ng-deep {
    textarea {
        width: 100% !important;
    }
}