<div class="modal fade" #modalElement tabindex="-1" role="dialog">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-header py-1 bg-success">
                <h4 class="modal-title"><i class="fa fa-comment" aria-hidden="true"></i> MESAJ <button type="button" class="close"
                        data-dismiss="modal">&times;</button></h4>
            </div>
            <div class="modal-body">
                <p [innerHTML]="warning"></p>
            </div>
            <div class="modal-footer p-2">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>