<div class="modal animated fadeIn" #modalElement tabindex="-1" role="dialog">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-header py-1 text-dark">
                <h5 class="modal-title"><i class="fal fa-comment" aria-hidden="true"></i> {{ lang.text.general.messageTitle}}
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button></h5>
            </div>
            <div class="modal-body">
                <p [innerHTML]="warning"></p>
            </div>
            <div class="modal-footer row justify-content-center p-2">
                <button type="button" class="btn btn-outline-primary w-25" data-dismiss="modal">
                    <i class="fal fa-times-circle" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>