<div class="col-12 border-bottom text-center mb-2" *ngIf="messages.length == 0">
    {{ lang.text.inbox.noMessageFound }}</div>
<div class="col-12 border-bottom bg-white py-1 action-icon animated fadeIn" *ngFor="let message of messages">
    <div class="row my-auto" *ngIf="!message.isAnonym">
        <div class="col-2 my-auto pr-0" (click)="answerMessage(message.receiver, message._id)">
            <img class="rounded-circle w-100" src="{{ global.URL_S3_USERS + message.picture }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/kutatku/app_images/emptyprofile.png'">
        </div>
        <div class="col-6 my-auto pr-0 line-10" (click)="answerMessage(message.receiver, message._id)">
            <p class="mb-0">
                <b>{{ message.receiver }}</b>
            </p>
            <p class="x-small text-muted mb-0">{{ message.messages[0].date | date:'shortDate' }}</p>
        </div>
        <div class="col-4 text-right align-self-center pl-0">
            <button type="button" class="btn btn-outline-primary btn-sm px-1 py-0" (click)="answerMessage(message.receiver, message._id)">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm px-1 py-0" (click)="deleteMessage(message._id)">
                <i class="fa fa-ban" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="row my-auto" *ngIf="message.isAnonym">
        <div class="col-8 my-auto pr-0 line-10" (click)="answerAnonymChat(message.receiver, message.areceiver, message.asender, message._id)">
            <p class="mb-0">
                <b>{{ message.areceiver }}</b>
            </p>
            <p class="x-small text-muted mb-0">{{ message.messages[0].date | date:'shortDate' }}</p>
        </div>
        <div class="col-4 text-right align-self-center pl-0">
            <button type="button" class="btn btn-outline-primary btn-sm px-1 py-0" (click)="answerAnonymChat(message.receiver, message.areceiver, message.asender, message._id)">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm px-1 py-0" (click)="deleteMessage(message._id)">
                <i class="fa fa-ban" aria-hidden="true"></i>
            </button>
        </div>
    </div>

</div>
<p class="text-center mb-0 mt-2">
    <button class="btn btn-outline-primary btn-sm" (click)="loadMore(); $event.stopPropagation()">{{ lang.text.inbox.showMore }}</button>
</p>