

.bgWarning {
    animation: warningAnimation 1s infinite;
}

@keyframes warningAnimation {
    0% {
        background: rgb(255, 208, 137);
    }
    50% {
        background: rgb(255, 251, 244);
    }
    100% {
        background: rgb(255, 208, 137);
    }
}

.x-small {
    font-size: 0.7em;
}

span:hover {
    cursor: pointer;
}


.col-12 { 
    border-bottom: 1px solid #dedede;
}