<div class="container  animated fadeIn">
    <div class="row">
        <div class="col-xl-3 px-2 col-lg-6">
            <div class="row mb-3">
                <div class="col">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-5 col-6 my-auto" id="profilePicture">
                                    <div id="image-upload-button">
                                        <label class="profile-image-upload-button btn btn-primary text-center btn-sm px-1 py-0" *ngIf="!profilePicture" for="profilePictureFile">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                        </label>
                                        <label class="profile-image-upload-button btn btn-danger text-center btn-sm  px-1 py-0" *ngIf="profilePicture" (click)="deleteProfilePicture()">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </label>
                                    </div>
                                    <img src="{{ global.URL_S3_USERS + profilePicture }}" class="rounded-circle" alt="profil" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'"
                                        (click)="showThisImage(profilePicture)">
                                </div>
                                <div class="col-lg-7 col-6 align-self-center">
                                    <span class="my-0 py-0">
                                        <b>
                                            <i>@{{ profile?.nickName }}</i>
                                        </b>
                                    </span>
                                    <hr class="my-2">
                                    <small>
                                        <i class="fa fa-users" aria-hidden="true"></i> Arkadaslar: {{ profile?.following['length'] }}</small>
                                    <br>
                                    <small>
                                        <i class="fa fa-comment" aria-hidden="true"></i> Paylasimlar: {{ profile?.posts['length'] }}</small>
                                    <br>
                                    <small>
                                        <i class="fa fa-credit-card" aria-hidden="true"></i> Kredi: {{ profile?.credit }}</small>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr *ngIf="croppedProfilePicture">
                                    <input hidden id="profilePictureFile" type="file" (change)="profilePictureFileChangeEvent($event)" />

                                    <image-cropper *ngIf="profilePictureChangedEvent" [imageChangedEvent]="profilePictureChangedEvent" [maintainAspectRatio]="true"
                                        [aspectRatio]="1/1" [resizeToWidth]="200" format="jpeg" (imageCropped)="profilePictureCropped($event)"
                                        (imageLoaded)="profileImageLoaded()" (loadImageFailed)="profileImageLoadImageFailed()"></image-cropper>

                                    <canvas id="rotateProfileCanvas" class="d-none"></canvas>
                                    <div class="rotate-preview-wrapper mx-auto m-2" *ngIf="isRotating">
                                        <img id="i1p" class="rotate-image-preview" src="" alt="" />
                                    </div>
                                    <div class="row col justify-content-center mx-auto px-0">
                                        <button class="btn btn-warning text-center btn-sm" *ngIf="croppedProfilePicture" type="button" (click)="rotateProfileImage()">
                                            <i class="fas fa-sync-alt"></i> Cevir</button>
                                        <button class="btn btn-success btn-sm text-center" *ngIf="croppedProfilePicture" type="button" (click)="addProfileImage()">
                                            <i class="fa fa-image" aria-hidden="true"></i> Yukle</button>
                                        <button class="btn btn-danger btn-sm text-center" *ngIf="croppedProfilePicture" type="button" (click)="emptyProfilePicture()">
                                            <i class="fa fa-image" aria-hidden="true"></i> Iptal et</button>
                                        <img hidden [src]="croppedProfilePicture" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col">
                    <form class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="saveProfile()" id="ngForm">
                        <div class="card bg-dark text-white info-update-hover">
                            <div class="card-header">
                                <i class="fas fa-id-card"></i> Bilgiler

                                <span id="info-update-control" class="float-right">
                                    <label *ngIf="profileForm.disabled" class="btn btn-primary mb-0 btn-sm text-center py-0 px-1" (click)="enableInfoUpdate()">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </label>
                                    <label *ngIf="!profileForm.disabled" class="btn btn-success mb-0 btn-sm text-center py-0 px-1" (click)="saveProfile()">
                                        <i class="fa fa-save" aria-hidden="true"></i>
                                    </label>
                                    <label *ngIf="!profileForm.disabled" class="btn btn-danger mb-0 btn-sm text-center py-0 px-1" (click)="disableInfoUpdate()">
                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                    </label>
                                </span>

                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="col-form-label" for="email">Email:</label>
                                    <input readonly type="text" class="form-control" id="email" formControlName="email">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="nickName">Takma isim:</label>
                                    <input readonly type="text" class="form-control" id="nickName" formControlName="nickName">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="nickName">Rumuz (anonim sohbet):</label>
                                    <input readonly type="text" class="form-control" id="chatNickName" formControlName="chatNickName">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="col-form-label" for="firstName">Isim:</label>
                                            <input type="text" class="form-control" maxlength="48" id="firstName" formControlName="firstName">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="col-form-label" for="lastName">Soyisim:</label>
                                            <input type="text" class="form-control" maxlength="48" id="lastName" formControlName="lastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="birthday">Dogum tarihi:</label>
                                    <input type="date" class="form-control" maxlength="48" id="birthday" formControlName="birthday">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="bio">Oz gecmis:</label>
                                    <textarea #bioText rows="4" type="text" class="form-control" id="bio" formControlName="bio" maxlength="256"></textarea>
                                    <span *ngIf="!profileForm.disabled" class="text-muted small text-right">{{ 256 - bioText.value.length }} karakter kaldi.</span>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="jobStatus">Is durumu:</label>
                                    <input type="text" class="form-control" maxlength="128" id="jobStatus" formControlName="jobStatus">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="education">Egitim durumu:</label>
                                    <input type="text" class="form-control" maxlength="128" id="education" formControlName="education">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="socialMedia">Sosyal Medya:</label>
                                    <div class="row mx-auto">
                                        <span class="col-2 pt-1">
                                            <i class="fab fa-twitter fa-lg"></i>
                                        </span>
                                        <input type="text" class="form-control col-10" maxlength="256" id="twitterLink" formControlName="twitterLink" placeholder="Twitter">
                                    </div>
                                    <div class="row mx-auto">
                                        <span class="col-2 pt-1">
                                            <i class="fab fa-instagram fa-lg"></i>
                                        </span>
                                        <input type="text" class="form-control col-10" maxlength="256" id="instagramLink" formControlName="instagramLink" placeholder="Instagram">
                                    </div>
                                    <div class="row mx-auto">
                                        <span class="col-2 pt-1">
                                            <i class="fab fa-snapchat fa-lg"></i>
                                        </span>
                                        <input type="text" class="form-control col-10" maxlength="256" id="snapchatLink" formControlName="snapchatLink" placeholder="Snapchat">
                                    </div>
                                    <div class="row mx-auto">
                                        <span class="col-2 pt-1">
                                            <i class="fab fa-linkedin fa-lg"></i>
                                        </span>
                                        <input type="text" class="form-control col-10" maxlength="256" id="linkedinLink" formControlName="linkedinLink" placeholder="LinkedIn">
                                    </div>
                                    <div class="row mx-auto">
                                        <span class="col-2 pt-1">
                                            <i class="fab fa-google-plus fa-lg"></i>
                                        </span>
                                        <input type="text" class="form-control col-10" maxlength="256" id="googleplusLink" formControlName="googleplusLink" placeholder="Google Plus">
                                    </div>
                                    <div class="row mx-auto">
                                        <span class="col-2 pt-1">
                                            <i class="fab fa-youtube fa-lg"></i>
                                        </span>
                                        <input type="text" class="form-control col-10" maxlength="256" id="youtubeLink" formControlName="youtubeLink" placeholder="YouTube">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xl-9 px-2 col-lg-6 mb-3">
            <div class="card mb-3">
                <div class="card-header cover-image-control">
                    <i class="fas fa-images"></i> Galeri
                    <div id="cover-upload-button" class="float-right">
                        <label class="cover-image-upload-button btn btn-primary btn-sm text-center px-1 py-0 mb-0" *ngIf="!coverPicture" for="coverPictureFile">
                            <i class="fa fa-upload" aria-hidden="true"></i> Kapak resmi ekle
                        </label>
                        <label class="cover-image-upload-button btn btn-danger btn-sm text-center px-1 py-0 mb-0" *ngIf="coverPicture" (click)="deleteCoverImage()">
                            <i class="fa fa-trash" aria-hidden="true"></i> Kapak resmi sil
                        </label>
                    </div>
                </div>
                <div class="card-body pt-0 px-0 ">
                    <div class="row">
                        <div class="col-md-12 cover-image-control" [ngClass]="{'mb-n-80': !coverPictureChangedEvent}">
                            <!-- Cover image -->
                            <div class="col-6 mx-auto">
                                <input hidden id="coverPictureFile" type="file" (change)="coverPictureFileChangeEvent($event)" />
                                <image-cropper *ngIf="coverPictureChangedEvent" [imageChangedEvent]="coverPictureChangedEvent" [maintainAspectRatio]="true"
                                    [aspectRatio]="8/3" [resizeToWidth]="800" format="jpeg" (imageCropped)="coverPictureCropped($event)"
                                    (imageLoaded)="coverImageLoaded()" (loadImageFailed)="profileImageLoadImageFailed()"></image-cropper>
                                <canvas id="rotateCoverCanvas" class="d-none"></canvas>
                                <div class="rotate-preview-wrapper mx-auto m-2" *ngIf="isRotatingCover">
                                    <img id="i1c" class="rotate-image-preview" src="" alt="" />
                                </div>
                                <div class="row col justify-content-center mx-auto px-0">
                                    <button class="btn btn-success btn-sm text-center" *ngIf="croppedCoverPicture" type="button" (click)="addCoverImage()">
                                        <i class="fa fa-image" aria-hidden="true"></i> Yukle</button>
                                    <button class="btn btn-danger btn-sm text-center" *ngIf="croppedCoverPicture" type="button" (click)="emptyCoverPicture()">
                                        <i class="fa fa-image" aria-hidden="true"></i> Iptal et</button>
                                    <img hidden [src]="croppedCoverPicture" />
                                </div>
                            </div>


                            <hr *ngIf="croppedCoverPicture">
                            <img *ngIf="!coverPictureChangedEvent" src="{{ global.URL_S3_USERS + coverPicture }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/uploadempty.png'"
                                class="cover-image mb-4" (click)="showThisImage(coverPicture)">
                        </div>
                        <!-- Image Gallery -->
                        <div class="col-12">
                            <div class="row justify-content-center gallery-images-button-control">
                                <div class="col-10 mb-n-80">
                                    <div class="row">
                                        <div class="px-2 col-lg-2 col-4 align-self-center" *ngFor="let image of images">
                                            <div class="gallery-thumbnails">
                                                <img src="{{ global.URL_S3_USERS + image }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/uploadempty.png'"
                                                    class="small-image img-thumbnail mb-4" (click)="showThisImage(image)">
                                                <button type="button" (click)="deleteThisImage(image)" class="image-delete-button btn btn-danger btn-sm px-1 py-0">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-11 mt-4 pt-2">
                                    <div class="float-right" *ngIf="images.includes('')">
                                        <label class="btn btn-primary btn-sm text-center add-images mb-0 px-1 py-0" for="pictureFiles">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                        </label>
                                        <input hidden id="pictureFiles" type="file" (change)="addGalleryImages()" accept=".jpg, .jpeg, .png" maxlength="256" multiple>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Posts and activities -->
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="card share-hover">
                        <div class="card-header">
                            <span id="share-control" class="float-right" *ngIf="postService.posts.length < 12">
                                <label class="btn btn-primary btn-sm text-center py-0 px-1 mb-0" (click)="openPostWindow()">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                </label>
                            </span>
                            <i class="fa fa-map-pin" aria-hidden="true"></i> Panom ({{postService.posts.length}}/12)
                        </div>
                        <div class="card-body">
                            <div class="card-columns">
                                <p class="col-12 text-center" *ngIf="postService.posts.length == 0">Hic bir paylasim bulunamadi!</p>
                                <app-post class="mb-4" [mylocation]="'profile'" [post]="post" *ngFor="let post of postService.posts">
                                </app-post>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-users" aria-hidden="true"></i> Arkadaslar ({{ friends.length }})
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center" *ngIf="friends.length == 0">Hic bir arkadas bulunamadi!</div>
                                <div class="col">
                                    <div *ngFor="let friend of friends" (friendDeleteEvent)="test()">
                                        <div class="friend-image text-center m-1">
                                            <img (click)="showFriend(friend.nickName)" class="w-100 rounded-circle" src="{{ global.URL_S3_USERS + friend.friend.profilePicture }}"
                                                onerror="this.onerror=null; this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'">
                                            <small>{{ friend.nickName }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-cogs" aria-hidden="true"></i> Ayarlar
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="text-center">
                                                <i class="fas fa-key"></i> Sifre yenile</h5>
                                            <div class="form-group mb-0">
                                                <input type="password" maxlength="48" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" class="form-control border mb-2"
                                                    [(ngModel)]="passwordOld" #passOld="ngModel" placeholder="Eski sifre" />
                                                <input type="password" maxlength="48" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" class="form-control border mb-2"
                                                    [(ngModel)]="passwordNew" #passNew="ngModel" placeholder="Yeni sifre" />
                                                <div class="small alert alert-warning" *ngIf="passOld.errors || passNew.errors">
                                                    <p>
                                                        <i class="fa fa-exclamation"></i>
                                                        Sifreniz asagidaki kurallara uygun olmalidir:</p>
                                                    <ul>
                                                        <li>En az 8 karakter</li>
                                                        <li>En az 1 kucuk harf</li>
                                                        <li>En az 1 buyuk harf</li>
                                                        <li>En az 1 sayi</li>
                                                        <li>En az 1 ozel karakter (!@#$%^&*) icermelidir</li>
                                                    </ul>
                                                </div>
                                                <button type="button" [disabled]="passOld.errors || passNew.errors || passwordOld == undefined || passwordNew == undefined"
                                                    class="btn btn-primary btn-sm float-right" (click)="resetPassword(passOld.value, passNew.value); passwordOld = null; passwordNew = null">
                                                    <i class="fas fa-sync-alt"></i> Yenile</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="text-center">
                                                <i class="fas fa-power-off"></i> Hesabi Kapat</h5>
                                            <div class="form-group mb-0">
                                                <input type="password" maxlength="48" class="form-control border mb-2" #closePass [(ngModel)]="closePassword" placeholder="Sifrenizi giriniz"
                                                />
                                                <button type="button" [disabled]="!closePass.value" class="btn btn-danger btn-sm float-right" (click)="closeAccount(closePass.value); closePassword = null">
                                                    <i class="fas fa-power-off"></i> Kapat</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="backdrop" [ngStyle]="{'display': showImage}"></div>
<div class="modal" id="imagebox" tabindex="-1" role="dialog" [ngStyle]="{'display': showImage}">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" (click)="showImage='none'">Kapat</button>
            </div>
        </div>
    </div>
</div>