img {
    max-height: calc(80vh - 100px);
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.modal-lg {
    max-height: calc(80vh) !important;
}

.modal {
    z-index: 1999;
}
