<div class="row">
    <form class="col-md-12" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="email" id="email" class="form-control" placeholder="E-posta" formControlName="email">
        </div>
        <div class="form-group">
            <input type="password" id="password" class="form-control" placeholder="Sifre" formControlName="password">
        </div>
        <div class="form-group mb-0">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-success btn-block btn-sm" type="submit" [disabled]="!signinForm.valid">
                        <i class="fa fa-sign-in-alt" aria-hidden="true"></i> Giris yap</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-info btn-block btn-sm" type="button" (click)="forgot()">
                        <i class="fa fa-question" aria-hidden="true"></i> Sifremi unuttum</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div *ngIf="isResetting">
    <hr>
    <div class="row">
        <form class="col" [formGroup]="resetForm">
            <h4 class="text-center">Sifrenizi mi unuttunuz? Sorun degil. Asagidaki adimlari takip edin, ve sifrenizi yenileyin!</h4>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label>
                            <b>1)</b> E-mail adresinizi giriniz.</label>
                        <input type="email" id="email" class="ml-2 form-control" placeholder="E-posta" formControlName="email">
                    </div>
                    <div class="col align-self-center">
                        <button class="btn btn-warning btn-block btn-sm" type="button" (click)="sendForgotRequest()">
                            <i class="fas fa-envelope" aria-hidden="true"></i> Kodu gonder</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <b>2)</b> E-mail adresinize gonderdigimiz kodu giriniz.</label>
                <input type="text" id="resetCode" class="ml-2 form-control" placeholder="Sifre" formControlName="resetCode">
            </div>
            <div class="form-row">
                <div class="col-12 pl-3">
                    <div class="small alert alert-warning">
                        <p>
                            <i class="fa fa-exclamation"></i>
                            Sifreniz asagidaki kurallara uygun olmalidir:</p>
                        <ul>
                            <li>En az 8 karakter</li>
                            <li>En az 1 kucuk harf</li>
                            <li>En az 1 buyuk harf</li>
                            <li>En az 1 sayi</li>
                            <li>En az 1 ozel karakter (!@#$%^&*) icermelidir</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <b>3)</b> Yeni sifreyi giriniz.</label>
                <input type="password" id="newPassword" class="ml-2 form-control" placeholder="Yeni sifre" formControlName="newPassword">
            </div>
            <div class="form-group mb-0">
                <button class="btn btn-primary btn-block btn-sm" type="button" (click)="refreshPassword()" [disabled]="!resetForm.valid">
                    <i class="fa fa-check-square" aria-hidden="true"></i> Sifreyi degistir</button>
            </div>
        </form>
    </div>
</div>