<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-primary" [routerLink]="['/posts/all']">
            <i>
                <b>ortam</b> online</i>
        </a>
        <!-- <app-search [term]="searchString"></app-search> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <app-search></app-search>
            <ul class="navbar-nav ml-auto flex-row justify-content-between">
                <!-- <li class="nav-item" *ngIf="username">
                    <a class="tooltip nav-link">
                        <i class="fa fa-newspaper fa-lg" aria-hidden="true"></i>
                        <span class="toolradio">
                            <iframe class="toolradio-box" src="https://www.cnnturk.com/news/embed_v2/manset/650x550?p=" width="650" height="550" frameborder="0"></iframe>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="username">
                    <a class="tooltip nav-link">
                        <i class="fa fa-tv fa-lg" aria-hidden="true"></i>
                        <span class="toolradio">
                            <iframe class="toolradio-box" src="http://www.canlitvlive.io/tvizle.php?css=eyJ6ZW1pbiI6IiNmZmZmZmYiLCJob3ZlciI6IiNkZmRmZGYiLCJvbml6bGUiOiIwIiwiYWRyZW5rIjoiIzRhNTQ1OSIsImthdGVnb3JpIjoidW5kZWZpbmVkIiwiYXJhbWF2YXIiOiIxIiwibG9nb2FkZXQiOiIxIiwiYWRob3ZlciI6IiMxQTFBMUEiLCJ6ZW1pbnNlYyI6IiNGRkZGRkYifQ==&t=2&tv=&pos=r&logo=1"
                                frameborder="0" width="854" height="300" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="username">
                    <a class="tooltip nav-link">
                        <i class="fa fa-music fa-lg" aria-hidden="true"></i>
                        <span class="toolradio">
                            <iframe class="toolradio-box" src="http://www.canliradyolive.com/radyo.php?css=eyJ6ZW1pbiI6IiNmZmZmZmYiLCJhcmFtYXZhciI6IjEiLCJob3ZlciI6IiM5YjliOWIiLCJhZHJlbmsiOiIjOTI5MjkyIiwiYWRob3ZlciI6IiMxQTFBMUEiLCJ6ZW1pbnNlYyI6IiM4MTgxODEifQ==&t=2&rd=&pos=undefined&logo=1&kk=1&eq=2&load=2&ct=0&clr=dbdbdb"
                                frameborder="0" width="350" height="300"></iframe>
                        </span>
                    </a>
                </li> -->
                <li class="nav-item vertical-line" *ngIf="username">
                </li>
                <li class="nav-item" *ngIf="username">
                    <app-inbox></app-inbox>
                </li>
                <li class="nav-item vertical-line" *ngIf="username">
                </li>
                <li class="nav-item" *ngIf="username" routerLinkActive="active">
                    <a class="tooltip nav-link" [routerLink]="['/posts/all']">
                        <i class="fa fa-home fa-lg"> </i>
                    </a>
                </li>
                <li class="nav-item" *ngIf="username" routerLinkActive="active">
                    <a class="tooltip nav-link">
                        <span class="tooltiptext">
                            <div class="list-group-flush">
                                <a class="list-group-item list-group-item-action">
                                    <i class="fa fa-credit-card" aria-hidden="true"></i> : {{ global.credit }}
                                </a>
                                <a [routerLink]="['/profile/me']" class="list-group-item list-group-item-action">
                                    <i class="fa fa-id-card" aria-hidden="true"></i> Profile git</a>
                                <a [routerLink]="['/admin']" class="list-group-item list-group-item-action">
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Yonetim</a>
                                <a (click)="logOut()" class="list-group-item list-group-item-action">
                                    <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Cikis yap</a>
                            </div>
                        </span>
                        <img class="profile-picture" src="{{ global.URL_S3_USERS + global.profilePicture }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>