.profile-picture {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 100% !important;
    margin-top: -10px;
}

::ng-deep {
    .scrollable-search {
        max-height: 320px !important;
        overflow-y: scroll !important;
    }
    
    @media only screen and (max-width: 992px) {
        .list-inline-item {
            display: block;
            padding: 10px 10px;
        }

        .item-text {
            display: inline-block !important;
            padding-left: 10px;
        }

        .fa {
            display: block !important;
            float: left !important;
        }

        .dropdown {
            display: block !important;
            padding-right: 10px;
        }

        .dropdown-menu {
            position: fixed !important;
            overflow-y: scroll !important;
            max-height: calc(90vh) !important;
            width: calc(90vw) !important;
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -50%) !important;
        }

        .chat {
            max-height: calc(90vh) !important;
            width: calc(90vw) !important;
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -50%) !important;
        }
    }

    .item-text {
        display: none;
    }

    .dropdown-menu {
        width: 240px;
        box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.25);
        border: none;
    }
}