<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-primary" [routerLink]="['/posts/all']">
            <i>
                <b>ortam</b> online</i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <app-search></app-search>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item vertical-line" *ngIf="username">
                </li>
                <li class="nav-item" *ngIf="username">
                    <ul class="list-inline nav-link">
                        <li class="list-inline-item btn-group">
                            <div class="dropdown">
                                <a id="newspaperMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-newspaper" aria-hidden="true"></i>
                                    <div class="item-text">Haberler</div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right my-0 py-0" aria-labelledby="newspaperMenu">
                                    <iframe src="https://www.cnnturk.com/news/embed_v2/manset/650x550?p=" width="650" height="550" frameborder="0"></iframe>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item btn-group">
                            <div class="dropdown">
                                <a id="tvMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-tv" aria-hidden="true"></i>
                                    <div class="item-text">Televizyon</div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right my-0 py-0" aria-labelledby="tvMenu">
                                    <iframe src="http://www.canlitvlive.io/tvizle.php?css=eyJ6ZW1pbiI6IiNmZmZmZmYiLCJob3ZlciI6IiNkZmRmZGYiLCJvbml6bGUiOiIwIiwiYWRyZW5rIjoiIzRhNTQ1OSIsImthdGVnb3JpIjoidW5kZWZpbmVkIiwiYXJhbWF2YXIiOiIxIiwibG9nb2FkZXQiOiIxIiwiYWRob3ZlciI6IiMxQTFBMUEiLCJ6ZW1pbnNlYyI6IiNGRkZGRkYifQ==&t=2&tv=&pos=r&logo=1"
                                        frameborder="0" width="854" height="320" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item btn-group">
                            <div class="dropdown">
                                <a id="radioMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-music" aria-hidden="true"></i>
                                    <div class="item-text">Radyo</div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right my-0 py-0" aria-labelledby="radioMenu">
                                    <iframe src="http://www.canliradyolive.com/radyo.php?css=eyJ6ZW1pbiI6IiNmZmZmZmYiLCJhcmFtYXZhciI6IjEiLCJob3ZlciI6IiM5YjliOWIiLCJhZHJlbmsiOiIjOTI5MjkyIiwiYWRob3ZlciI6IiMxQTFBMUEiLCJ6ZW1pbnNlYyI6IiM4MTgxODEifQ==&t=2&rd=&pos=undefined&logo=1&kk=1&eq=2&load=2&ct=0&clr=dbdbdb"
                                        frameborder="0" width="350" height="320"></iframe>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item vertical-line" *ngIf="username">
                </li>
                <li class="nav-item" *ngIf="username">
                    <ul class="list-inline nav-link" app-inbox></ul>
                </li>
                <li class="nav-item vertical-line" *ngIf="username">
                </li>
                <li class="nav-item" *ngIf="username">
                    <ul class="list-inline nav-link">
                        <li class="list-inline-item" routerLinkActive="active">
                            <a class="dropdown" href="#" [routerLink]="['/posts/all']">
                                <i class="fa fa-home"> </i>
                                <div class="item-text">Ana sayfa</div>
                            </a>
                        </li>
                        <li class="list-inline-item" routerLinkActive="active">
                            <div class="dropdown">
                                <a id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="profile-picture" src="{{ global.URL_S3_USERS + global.profilePicture }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'">
                                    <div class="item-text">Profil</div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileMenu">
                                    <div class="list-group-flush">
                                        <a class="list-group-item list-group-item-action">
                                            <i class="fa fa-credit-card" aria-hidden="true"></i> : {{ global.credit }}
                                        </a>
                                        <a [routerLink]="['/profile/me']" class="list-group-item list-group-item-action">
                                            <i class="fa fa-id-card" aria-hidden="true"></i> Profile git</a>
                                        <a [routerLink]="['/admin']" class="list-group-item list-group-item-action">
                                            <i class="fa fa-cogs" aria-hidden="true"></i> Yonetim</a>
                                        <a (click)="logOut()" class="list-group-item list-group-item-action">
                                            <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Cikis yap</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>