body.navbar-height{
    padding-top: 200px;
}

.scrollable {
    max-height: 320px;
    overflow-y: scroll;
}

.newMessages {
    /* color: rgb(24, 24, 24); */
    animation: pulse infinite 1s;
}

@keyframes pulse {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.35);
        text-shadow: 0px 0px 16px white;
    }
    100% {
        transform: scale(1.0);
    }
}

.profile-picture {
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 100%;
}

::ng-deep {
    @media only screen and (max-width: 992px) {
        .list-inline-item {
            display: block;
            padding: 10px 10px;
        }

        .item-text {
            display: inline-block !important;
            padding-left: 10px;
        }

        .fa {
            display: block !important;
            float: left !important;
        }

        .dropdown {
            display: block !important;
            padding-right: 10px;
        }

        .dropdown-menu {
            position: fixed !important;
            overflow-y: scroll !important;
            max-height: calc(90vh) !important;
            width: calc(90vw) !important;
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -50%) !important;
        }

        .chat {
            max-height: calc(90vh) !important;
            width: calc(90vw) !important;
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -50%) !important;
        }
    }

    .item-text {
        display: none;
    }

    .dropdown-menu {
        width: 240px;
        box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.25);
        border: none;
    }

    .list-inline-item:hover {
        color: #aaa;
    }
}