<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" id="navbarButton" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand pl-2" [routerLink]="['/posts/all']">
            <b>kutatku</b><small>.com</small>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <app-search *ngIf="username"></app-search>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="username">
                    <ul class="list-inline nav-link pt-2" app-inbox [flagObject]="flagObject"></ul>
                </li>
                <li class="nav-item" *ngIf="username">
                    <ul class="list-inline nav-link">
                        <li class="list-inline-item" routerLinkActive="active" id="homePageLink">
                            <a class="dropdown text-white" href="#" [routerLink]="['/posts/all']">
                                <i class="fa fa-home"> </i>
                                <div class="item-text">Ana sayfa</div>
                            </a>
                        </li>
                        <li class="list-inline-item" routerLinkActive="active">
                            <div class="dropdown">
                                <a id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="profile-picture" src="{{ global.URL_S3_USERS + global.profilePicture }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'">
                                    <div class="item-text">Profil</div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right mt-0 pt-0" aria-labelledby="profileMenu">
                                    <div class="row mx-0">
                                        <a (click)="closeDropdown(this)" class="float-right px-2 ml-auto">&times;</a>
                                    </div>
                                    <div class="list-group-flush">
                                        <a class="list-group-item">
                                            <i class="fa fa-credit-card" aria-hidden="true"></i> : {{ global.credit }}
                                        </a>
                                        <a [routerLink]="['/profile/me']" class="list-group-item list-group-item-action" id="profileLink">
                                            <i class="fa fa-id-card" aria-hidden="true"></i> Profile git</a>
                                        <!-- <a [routerLink]="['/admin']" class="list-group-item list-group-item-action">
                                            <i class="fa fa-cogs" aria-hidden="true"></i> Yonetim</a> -->
                                        <a (click)="logOut()" class="list-group-item list-group-item-action">
                                            <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Cikis yap</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>