<div class="card">
    <div class="card-header p-2">
        <i class="fa fa-hashtag" aria-hidden="true"></i> {{ lang.text.post.top10 }}
    </div>
    <div class="card-body p-1 mb-2">
        <ul class="list-group text-dark">
            <li class="list-group-item small border-0 py-1">
                <a href="javascript:void(0)" class="text-dark" (click)="postListRef.loadPosts()">
                    <b>{{ lang.text.post.allPosts }}</b>
                </a>
            </li>
            <li class="list-group-item small border-0 py-1">
                <a href="javascript:void(0)" class="text-dark" (click)="postListRef.filterBySubject(auth.getCookie('userId'))">
                    <b>{{ lang.text.post.privatePosts }}</b>
                </a>
            </li>
            <li *ngFor="let subject of subjects" class="list-group-item small border-0 py-1">
                <a href="javascript:void(0)" class="text-dark" (click)="postListRef.filterBySubject(subject._id)">{{ subject._id }}
                </a>
            </li>
        </ul>
    </div>
</div>