<div *ngIf="messageSetup.type === 'first'" class="backdrop" [ngStyle]="{'display': display}" (click)="close(true)"></div>
<div *ngIf="messageSetup.type === 'chat'" class="backdrop" [ngStyle]="{'display': display}" (click)="close(false)"></div>
<div class="modal animated fadeIn" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" (click)="close()">&times;</button>
                <div class="scrollable p-4" id="scrollMessages" *ngIf="!isFirstMessage">
                    <div class="row" *ngFor="let message of messageSetup?.messages">
                        <div *ngIf="message.sender === messageSetup?.receiver" class="col-md-8 mt-2 p-2 bg-primary speech-bubble text-white">
                            {{ message.sender }} @ {{ message.date | date: 'short' }} : {{ message.message }}
                        </div>
                        <div *ngIf="message.sender !== messageSetup?.receiver" class="offset-md-4 col-md-8 mt-2 p-2 bg-secondary speech-bubble">
                            {{ message.sender }} @ {{ message.date | date: 'short' }} : {{ message.message }}
                        </div>
                    </div>
                </div>
                <textarea maxlength="256" [(ngModel)]="message" class="form-control" (keypress)="sendWithEnter($event)" rows="2"></textarea>
                <div class="row my-0">
                    <p class="col my-0 text-right small text-muted">
                        {{ 256 - message.length }} karakter kaldi.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <span *ngIf="!isFriend">Yabanci birine mesaj atmak 10 kredidir. Kalan kredi: {{ global.credit }}</span>
                <button *ngIf="messageSetup.type === 'first'" [disabled]="!isFriend && global.credit < 10" type="button" class="btn btn-primary" (click)="sendFirstMessage()">
                    <i class="fa fa-envelope" aria-hidden="true"></i> Gonder</button>
                <button *ngIf="messageSetup.type === 'chat'" type="submit" class="btn btn-primary" (click)="sendChatMessage($event)" [disabled]="disableSending || (!isFriend && global.credit < 10)">
                    <i class="fa fa-comment" aria-hidden="true"></i> Cevapla</button>
                <button *ngIf="messageSetup.type === 'first'" type="button" class="btn btn-default" (click)="close(true)">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> Kapat</button>
                <button *ngIf="messageSetup.type === 'chat'" type="button" class="btn btn-default" (click)="close(false)">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>