.scrollable {
    max-height: 400px;
    height: 400px;
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-wrap: break-word;
    background: #efefef;
}

.speech-bubble {
    border-radius: 0px;
}

.bg-secondary, .bg-primary  {
    color: white;
}