<div class="col-12 border-bottom text-center mb-2" *ngIf="notifications.length == 0">
    Hic bir bildirim bulunamadi!</div>
<div class="col-12 border-bottom bg-white mb-2" *ngFor="let notification of notifications">
    <div class="row my-auto py-2">
        <div class="my-auto col-2 pr-0">
            <img class="rounded-circle w-100" src="{{ global.URL_S3_USERS + notification.user.profilePicture }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'">
        </div>
        <div class="col-6 my-auto pr-0" (click)="handleNotification(notification)">
            <p class="mb-0">
                <b>{{ notification.user.nickName }}</b>
            </p>
            <p class="mb-2 small">
                <span *ngIf="notification.action.substring(0, 6) == 'credit' || notification.action == 'received'">{{ notification.data }}</span> {{ notification.actionReadable }}
            </p>
        </div>
        <div class="col-4 text-right align-self-center pl-0">
            <button type="button" class="btn btn-success btn-sm px-1" *ngIf="notification.action != 'complaint' && notification.action.substring(0, 6) != 'credit' && notification.action != 'received' && notification.action != 'lost'"
                (click)="showPost(notification._id, notification.post._id, notification.action, notification.user._id)">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
            <button *ngIf="notification.action == 'received' || notification.action == 'lost'" type="button" class="btn btn-success btn-sm px-1"
                (click)="removeCreditRequest(notification)">
                <i class="fas fa-check"></i>
            </button>
            <span *ngIf="notification.action.substring(0, 6) == 'credit'">
                <button type="button" class="btn btn-success btn-sm px-1" (click)="handleCredit(notification)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <button *ngIf="notification.action.split('_')[1] == 'asking'" type="button" class="btn btn-danger btn-sm px-1" (click)="removeCreditRequest(notification)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </span>
            <span *ngIf="notification.action == 'complaint'">
                <button type="button" class="btn btn-success btn-sm px-1" (click)="handleComplaint(notification)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm px-1" (click)="removeComplaint(notification)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>

</div>
<p class="text-center mb-0">
    <button class="btn btn-primary btn-sm" (click)="loadMore(); $event.stopPropagation()">Daha yukle</button>
</p>