<div class="col-12 text-center mb-2" *ngIf="notifications.length == 0">
    Hic bir bildirim bulunamadi!</div>
<div class="col-12 bg-white mb-2" *ngFor="let notification of notifications">
    <div class="row my-auto py-2">
        <div class="col-md-2 my-auto col-4">
            <img class="full-rounded profile-picture-xs" src="{{ global.URL_S3_USERS + notification.user.profilePicture }}" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'">
        </div>
        <div class="col-md-8 my-auto col-8 pr-0">
            <p class="mb-0">
                <b>{{ notification.user.nickName }}</b>
            </p>
            <p class="mb-2 small action">
                {{ notification.actionReadable }}
            </p>
            <p class="x-small text-muted mb-0">{{ notification.date | date:'shortDate' }}</p>
        </div>
        <div class="col-md-2 text-right align-self-center pl-0">
            <span *ngIf="notification.action != 'complaint'" (click)="showPost(notification._id, notification.post._id, notification.action, notification.user._id)">
                <i class="fa fa-eye text-success" aria-hidden="true"></i>
            </span>
            <span *ngIf="notification.action == 'complaint'" (click)="handleComplaint(notification)">
                <i class="fa fa-eye text-success" aria-hidden="true"></i>
            </span>
        </div>
    </div>

</div>
<p class="text-center mb-0">
    <button class="btn btn-primary btn-sm" (click)="loadMore(); $event.stopPropagation()">Daha yukle</button>
</p>