<div class="p-4" (click)="$event.stopPropagation()">
    <div class="row mb-2 border-bottom pb-2">
        <div class="col-md-4 col-6 align-self-center">
            Oda seciniz:
        </div>
        <div class="col-md-8 col-6 pl-0">
            <select (change)="selectRoom(room)" (click)="$event.stopPropagation()" [(ngModel)]="room" class="form-control">
                <option *ngFor="let room of rooms" value="{{ room.name }}">{{ room.name }}</option>
            </select>
        </div>
    </div>

    <div class="scrollable mb-4" id="scrollThis">
        <div class="row mx-auto" *ngIf="messages.length == 0">
            <div class="col-12 pl-0 message">
                Hic bir mesaj bulunamadi!
            </div>
        </div>
        <div *ngFor="let message of messages" class="row mx-auto message mb-1" [ngStyle]="{ 'color': message.text.color }">
            <div class="col-12 pl-0 message">
                <b>
                    <i>{{ message.text.name }}:</i>
                </b> {{message.text.message}}
                <div class="complaint-button bg-light border p-2 ml-2">
                    <p class="text-center my-auto text-success" *ngIf="message.complaintStatus">{{ message.complaintStatus }}</p>
                    <div class="row" *ngIf="!message.complaintStatus">
                        <div class="col-12">
                            <input type="text" maxlength="100" class="form-control" [(ngModel)]="reason" placeholder="Sebep (max. 100 karakter)">
                        </div>
                        <div class="col-12">
                            <button [disabled]="!reason" class="btn btn-danger btn-sm btn-block py-0" (click)="complain(message)">Sikayet et</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 h-100">
            <select class="form-control text-white" [(ngModel)]="color">
                <option value="" hidden disabled>Renk secin</option>
                <option style="background:#C0392B" value="#C0392B">Kirmizi</option>
                <option style="background:#9B59B6" value="#9B59B6">Mor</option>
                <option style="background:#2980B9" value="#2980B9">Mavi</option>
                <option style="background:#1ABC9C" value="#1ABC9C">Yesil 1</option>
                <option style="background:#27AE60" value="#27AE60">Yesil 2</option>
                <option style="background:#F1C40F" value="#F1C40F">Sari</option>
                <option style="background:#E67E22" value="#E67E22">Turuncu</option>
                <option style="background:#BDC3C7" value="#BDC3C7">Acik gri</option>
                <option style="background:#7F8C8D" value="#7F8C8D">Gri</option>
                <option style="background:#34495E" value="#34495E">Lacivert</option>
            </select>
        </div>
        <div class="col-6 h-100">
            <button class="btn btn-success btn-block" (click)="sendMessage(); $event.stopPropagation()">
                <i class="fa fa-share-square" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <textarea class="form-control" [(ngModel)]="message" rows="2" maxlength="256" (keypress)="sendWithEnter($event)"></textarea>
        </div>
    </div>


</div>