/* Theme colors */

$dark-blue: #294F79;
$blue: #7BBEEB;
$light-blue: #BDEBFF;

$dark-yellow: #b68737;
$yellow: #E6AF51;
$light-yellow: #f7d08c;

$dark-red: #a53a13;
$red: #cc582d;
$light-red: #DF805D;

$dark-green: #538116;
$green: #83b443;
$light-green: #b9e480;

$light-gray: #f8f8f8;
$gray: #646464;
$black: #242424;
