@font-face {
    font-family: 'NotoColorEmoji';
    src: url('../assets/emoji/NotoColorEmoji.ttf') format('truetype');
}

body {
    padding-top: 70px;
    margin-bottom: 60px;
    background: rgb(224, 224, 224);
    background-image: url('assets/images/istanbul.png');
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

p {
    margin-bottom: 0;
}

@media (min-width: 1280px) {
    .container {
        max-width: 1240px;
    }
}

.close {
    position: absolute  !important;
    right: 0px !important;
    top: -5px  !important;
}

.rotate-image-preview {
    max-width: 100px;
    max-height: 100px;
    display: block;
}

.rotate-preview-wrapper {
    width: 100px;
    height: 100px;
    background: #efefef;
    border-radius: 100%;
    display: flex;
    /*Uncomment below to center horizontally*/
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) {
    .card-columns.cols2 {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}

.card.border:hover, .action-icon:hover {
    cursor: pointer;
}

.x-small {
    font-size: 0.7em;
}

.breakable-word {
    word-break: break-all;
}

input,
textarea {
    background: rgba(0, 0, 0, 0.05) !important;
    border: none !important;
}

.search-button {
    background: none;
    border: none;
}

.search {
    background: none !important;
}

textarea {
    width: 100%;
}

.card-background-top {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.card-background-top img {
    object-fit: cover;
    height: 100% !important;
    /* opacity: 0.65; */
}

input:enabled,
textarea:enabled {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
} 

.credit-input {
    font-size: 80px;
    text-align: center;
    background: none !important;
    width: 100%;
    height: 80px;
}

.card-header {
    border: none;
    /* background: none; */
}

.modal-header {
    color: white;
    font-weight: bold;
    border-radius: 0px;
}

.modal-content, .card, .dropdown-menu {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05) !important;
}

.modal-content {
    border: none;
}

* {
    border-radius: 2px;
}

.navbar {
    border-radius: 0px !important;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.modal-footer {
    background-color: rgba(0,0,0,0.05);
}

::-webkit-scrollbar {
    width: 10px;
    display: none;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

.social-icon {
    background: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.social-icon a {
    display: block;
    text-align: center;
    padding-top: 4px;
}

/* social media colors */
.fa-facebook {
    color: #3B5998;
}

.fa-twitter {
    color: #55ACEE;
}

.fa-google-plus {
    color: #dd4b39;
}

.fa-linkedin {
    color: #007bb5;
}

.fa-youtube {
    color: #bb0000;
}

.fa-instagram {
    color: #125688;
}

.fa-snapchat {
    color: #fffc00;
}