@font-face {
    font-family: 'NotoColorEmoji';
    src: url('../assets/emoji/NotoColorEmoji.ttf') format('truetype');
}

body {
    padding-top: 100px;
    margin-bottom: 60px;
    background: rgb(224, 224, 224);
    background-image: url('assets/images/istanbul.png');
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 100%;
    /* font-size: 90%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; */
}

.search:focus {
    background: white !important;
}

.close {
    position: absolute;
    right:6px;
    top: 2px;
}

.rotate-image-preview {
    max-width: 100px;
    max-height: 100px;
    display: block;
}

.rotate-preview-wrapper {
    width: 100px;
    height: 100px;
    background: #efefef;
    border-radius: 100%;
    display: flex;
    /*Uncomment below to center horizontally*/
    justify-content: center;
    align-items: center;
}

.list-inline-item:hover {
    cursor: pointer;
    background: none;
}

.list-group-item {
    background: none;
    color: inherit;
}

.list-group-item:hover {
    background: #eee;
    color: inherit;
    cursor: pointer;
}

.bottom-right {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.card.border:hover {
    cursor: pointer;
}

input,
textarea {
    background: none !important;
    border: none !important;
    border-bottom: 1px solid rgba(184, 184, 184, 0.5) !important;
}

input:disabled,
textarea:disabled {
    border: none !important;
    border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
}

input:enabled,
textarea:enabled {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.modal-header {
    color: white;
    font-weight: bold;
}

.modal-backdrop:nth-child(2n-1) {
    opacity : 0;
  }

/* PROFILE PICTURES */

.profile-picture-xs {
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
    min-height: 24px !important;
    object-fit: cover !important;
    display: block;
}

.profile-picture-sm {
    max-width: 64px !important;
    max-height: 64px !important;
    min-width: 48px !important;
    min-height: 48px !important;
    object-fit: cover !important;
    display: block;
}

.profile-picture-md {
    width: 120px !important;
    height: 120px !important;
    min-width: 100px !important;
    min-height: 100px !important;
    object-fit: cover !important;
    margin: auto;
    display: block;
    float: left;
}

.profile-picture-lg {
    width: 256px !important;
    height: 256px !important;
    object-fit: cover !important;
    margin: auto;
    display: block;
}

.profile-picture-lg:hover, .profile-picture-md:hover, .profile-picture-sm:hover, .profile-picture-xs:hover {
    cursor: pointer;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
    display: none;
}


/* Track */

::-webkit-scrollbar-track {
    background: none;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

/* social media colors */
.fa-facebook {
    color: #3B5998;
}

.fa-twitter {
    color: #55ACEE;
}

.fa-google-plus {
    color: #dd4b39;
}

.fa-linkedin {
    color: #007bb5;
}

.fa-youtube {
    color: #bb0000;
}

.fa-instagram {
    color: #125688;
}

.fa-snapchat {
    color: #fffc00;
}