<div class="row action-icon mb-3 border-bottom" (click)="openPostWindow()">
    <div class="row mx-auto my-4">
        <div class="col-12">
            <h4 class="text-primary text-center mb-0">
                <b>{{ lang.text.post.shareHere}}</b>
                <i class="fas fa-plus"></i>
            </h4>
        </div>
    </div>
</div>

<div class="card-columns cols2">
    <div class="col-12 text-center" *ngIf="postService.posts.length == 0">{{ lang.text.user.noPosts}}</div>
    <app-post [post]="post" *ngFor="let post of postService.posts" class="animated fadeIn">
    </app-post>
    <div class="col-12 my-2 text-center action-icon" (click)="loadMore()">
        <i class="fa fa-ellipsis-h fa-3x text-primary" aria-hidden="true"></i>
    </div>
</div>