<div class="container animated fadeIn">
    <div class="row">
        <div class="col-xl-3 col-lg-12 px-2 mb-3">
            <app-usercard></app-usercard>
            <app-subjects [postListRef]="postsList"></app-subjects>
        </div>
        <div class="col-xl-6 col-lg-12 mb-4 px-2 mb-3 order-lg-1 order-2">
            <div class="card">
                <!-- <div class="card-header p-2">
                    <i class="fas fa-globe-americas"></i> Paylasimlar
                </div> -->
                <div class="card-body pt-0 px-3 pb-3">
                    <app-post-list #postsList></app-post-list>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-12 px-2 mb-3 order-lg-2 order-1">
            <app-newpeople></app-newpeople>
        </div>
    </div>
</div>