<div class="modal animated fadeIn" #modalElement tabindex="-1" role="dialog">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-header py-1 bg-warning">
                <h4 class="modal-title">
                    <i class="fal fa-credit-card" aria-hidden="true"></i> {{ lang.text.credit.title }} <button type="button" class="close"
                        data-dismiss="modal">&times;</button></h4>
            </div>
            <div class="modal-body text-center">
                <img class="w-25 rounded-circle img-thumbnail mx-auto mb-2"
                 src="{{ global.URL_S3_USERS + otherUser?.profilePicture }}" 
                 onerror="this.src='https://s3.us-east-2.amazonaws.com/kutatku/app_images/emptyprofile.png'">
                <p><b>{{ lang.text.credit.who }}:</b> {{ otherUser?.nickName }}</p>
                <h3>{{ lang.text.credit.available }}: <b>{{ global.credit }} kkr</b></h3>
                <hr>
                <p>{{ lang.text.credit.amount }}</p>
                <input type="number" maxlength="3" min="1" max="1000" class="credit-input mb-4" [(ngModel)]="creditAmount" placeholder="{{ lang.text.credit.placeHolderAmount }}">
            </div>
            <div class="modal-footer p-2">
                <button type="button" class="btn btn-primary btn-sm" (click)="askCredit()" [disabled]="creditAmount == 0">
                    <i class="fal fa-arrow-right"></i>
                    <i class="fal fa-credit-card"></i> {{ lang.text.credit.ask }}</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="sendCredit()" [disabled]="creditAmount > global.credit || creditAmount == 0">
                    <i class="fal fa-credit-card"></i>
                    <i class="fal fa-arrow-right"></i>
                    <span *ngIf="global.credit - creditAmount >= 0"> {{ lang.text.credit.send }}</span>
                    <span *ngIf="global.credit - creditAmount < 0"> {{ lang.text.credit.limit }}</span>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <i class="fal fa-times-circle" aria-hidden="true"></i> {{ lang.text.general.close }}</button>
            </div>
        </div>
    </div>
</div>