<div class="modal fade" #modalElement tabindex="-1" role="dialog">
    <div class="modal-dialog " [ngClass]="{'modal-lg': post?.image}" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row mx-auto">
                    <div class="col-md-6 px-0" *ngIf="post?.image">
                        <img src="{{ global.URL_S3_POSTS + post?.image }}" onerror="this.onerror=null; this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/uploadempty.png'"
                            class="w-100">
                    </div>
                    <div class="col my-3">
                        <div *ngIf="post?.isShared" class="row py-2 justify-content-md-center border-bottom">
                            <div class="col-2">
                                <img class="w-100 rounded-circle" src="{{ global.URL_S3_USERS + post?.shares[post?.shares.length - 1].user.profilePicture }}"
                                    onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'">
                            </div>
                            <div class="col-10 small align-self-center">{{ post?.shares[post?.shares.length - 1].user.nickName
                                }}, {{ post?.shares[post?.shares.length - 1].date | date:'short' }} tarihinde paylasti.</div>
                            <div class="col-12 lead text-muted">
                                <i class="fas fa-comment pr-2" aria-hidden="true"></i>{{ post?.shares[post?.shares.length
                                - 1].comment }}
                            </div>
                            <div class="dropdown" *ngIf="post?.shares.length > 0">
                                <a class="action-icon" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tum paylasanlari gor
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li *ngFor="let sharedUser of post?.shares" class="dropdown-item">{{ sharedUser.user.nickName
                                        }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom mb-2">
                            <div class="col-2">
                                <img onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'" src="{{ global.URL_S3_USERS + post?.profilePicture || global.URL_S3_USERS + post['user']['profilePicture'] }}"
                                    class="rounded-circle w-100" alt="profil" (click)="viewProfile(post?.nickName)">
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12 align-items-start">
                                        <small class="text-primary">
                                            <i class="fa fa-hashtag" aria-hidden="true"></i>{{ post?.subject[0].length >=
                                            16 ? post?.subject[0].substring(0, 16) + ' ...' : post?.subject[0] }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <small>{{ post?.nickName }} - {{ post?.created | date:'short' }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="onSharing" class="card">
                            <div class="row card-body">
                                <div class="col">
                                    <h4>Paylasim Yorumu
                                        <button class="btn btn-sm btn-default float-right" (click)="onShare()">x</button>
                                    </h4>
                                </div>
                                <div class="col-10">
                                    <div class="form-group mb-0">
                                        <textarea type="text" rows="1" maxlength="256" id="content" class="form-control mb-0" [(ngModel)]="shareComment" placeholder="Yorumunuz ..."
                                            required></textarea>
                                    </div>
                                </div>
                                <div class="col-2 pl-0">
                                    <button [disabled]="!shareComment" class="btn btn-primary btn-block btn-sm" (click)="shareThis()">
                                        <i class="fa fa-comment" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="col-12 my-0 text-right small text-muted">
                                    {{ 256 - shareComment.length }} karakter kaldi.
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!onComment && !onSharing" [ngClass]="{'pb-4 mb-3': post?.nickName != global.username}">
                            <p class="lead text-muted breakable-word">
                                <i class="fa fa-comment pr-2" aria-hidden="true"></i>{{ post?.content }}</p>
                            <div class="card mb-3" *ngIf="post?.linkContent">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <img class="w-100" src="{{ post?.linkContent.image }}" alt="Resim yok" onerror="this.onerror=null; this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'">
                                        </div>
                                        <div class="col-8">
                                            <h4>{{ post?.linkContent.title }}</h4>
                                            <p>
                                                <small>{{ post?.linkContent.description }}</small>
                                            </p>
                                            <a class="btn  btn-sm btn-info float-right" href="{{ post?.linkContent.url }}" target="_blank">
                                                <i class="fa fa-link" aria-hidden="true"></i> Linke git</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="row pb-0 p-2 border-top">
                                    <div class="col-10">
                                        <div class="form-group mb-0">
                                            <textarea #commentText type="text" rows="1" maxlength="256" id="content" class="form-control mb-0" [(ngModel)]="answer" (keypress)="answerWithEnter($event)"
                                                placeholder="Yorumunuz ..." required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-2 pl-0">
                                        <button [disabled]="!answer" class="btn btn-primary btn-block btn-sm" (click)="sendAnswer()">
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-12 text-right small text-muted">
                                        {{ 256 - commentText.value.length }} karakter kaldi.
                                    </div>
                                </div>
                                <div class="row p-2 mx-0 scrollable">
                                    <div class="col p-2">
                                        <div class="row p-2 comment-row" *ngIf="post?.comments.length == 0">
                                            <p class="text-muted">Henuz bu paylasim ile ilgili hic bir yorum yapilmamis.</p>
                                        </div>
                                        <div class="row p-2 comment-row" *ngFor="let comment of post?.comments">
                                            <div class="col-2 pr-1">
                                                <img class="w-100 rounded-circle" src="{{ global.URL_S3_USERS + comment.user.profilePicture }}" onerror="this.onerror=null; this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'">
                                            </div>
                                            <div [ngClass]="{
                                                'col-8': answerBelongsToUser(comment.user.nickName), 
                                                'col-10': !answerBelongsToUser(comment.user.nickName)
                                            }">
                                                <b>{{ comment.user.nickName }} @ {{ comment.date | date: 'shortTime'}} </b>
                                                <span class="breakable-word">{{ comment.answer }}
                                                </span>
                                            </div>
                                            <div class="col-2" *ngIf="answerBelongsToUser(comment.user.nickName)">
                                                <button class="btn btn-danger btn-sm" (click)="deleteAnswer(comment.id)">
                                                    <i class="fa fa-small fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4 pt-4 position-absolute fixed-bottom mx-auto" *ngIf="post?.nickName != global.username">
                                <div class="col-12 mx-auto" *ngIf="isLoggedIn()">
                                    <div class="btn-group justify-content-center btn-group-sm w-100" role="group">
                                        <button [ngStyle]="{ display: post.group == 'public' ? 'block' : 'none' }" class="btn border-0 btn-sm w-25 btn-outline-info"
                                            (click)="onShare()">
                                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                                            <span class="badge">{{ post?.shares.length }}</span>
                                        </button>
                                        <button class="border-0 btn btn-sm w-25 btn-outline-success" (click)="likeThis()">
                                            <i class="fa fa-smile" aria-hidden="true"></i>
                                            <span class="badge">{{ post?.likes.length }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-2" *ngIf="belongsToUser() || shareBelongsToUser()">
                <button *ngIf="belongsToUser()" class="btn btn-primary btn-sm" (click)="onEdit()">
                    <i class="fa fa-edit" aria-hidden="true"></i> Duzenle
                </button>
                <button *ngIf="belongsToUser()" class="btn btn-danger btn-sm" (click)="onDelete()">
                    <i class="fa fa-trash" aria-hidden="true"></i> Sil
                </button>
                <button *ngIf="shareBelongsToUser()" class="btn btn-warning btn-sm" (click)="onDeleteShare()">
                    <i class="fa fa-trash" aria-hidden="true"></i> Paylasimi sil
                </button>
            </div>
        </div>
    </div>
</div>