.scrollable {
    max-height: 155px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    background: none;
    background: white;
}

.comment-row:nth-child(odd) {
    background:rgba(115, 184, 224, 0.2);
}
