<div class="modal fade" #modalElement tabindex="-1" role="dialog">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-header py-1 bg-primary">
                <h4 class="modal-title"><i class="fa fa-question-circle" aria-hidden="true"></i> {{ lang.text.general.areYouSure
                    }} <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
                </h4>
            </div>
            <div class="modal-body">
                <p [innerHTML]="content"></p>
            </div>
            <div class="modal-footer p-2">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="approve()"><i class="fa fa-check-square"
                        aria-hidden="true"></i>
                    {{ lang.text.general.approve }}</button>
                <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal"><i class="fa fa-times-circle"
                        aria-hidden="true"></i>
                    {{ lang.text.general.close }}</button>
            </div>
        </div>
    </div>
</div>