.fa {
    font-size: 24px;
    padding-right: 8px;
    vertical-align: middle;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background: #888;
    border-color: #888;
}

.box {
    position: absolute;
    background: white;
    top: 44px;
    max-height: 320px;
    overflow-y: scroll;
    width: 240px;
    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.25);
    border: none;
}

.dropdown-menu {
    width: 240px;
    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.25);
    border: none;
    position:absolute;
    right: 0px;
}

span:hover {
    cursor: pointer;
}

.col-12 { 
    border-bottom: 1px solid #dedede;
}

.search {
    background: none;
    border: none;
    border-bottom: 1px solid;
}

.search-button {
    border: none;
    background: none;
}

