<ul class="row mx-auto border-bottom justify-content-center list-inline my-0 py-0">
    <li class="list-inline-item col-10 px-0 mr-0">
        <input class="form-control search" maxlength="48" type="text" [(ngModel)]="searchTerm" (keypress)="searchWithEnter($event)"
            [ngModelOptions]="{standalone: true}" placeholder="{{ lang.text.search.search }}">
    </li>
    <li class="list-inline-item btn-group col-2 pl-0 ml-0">
        <button class="search-button action-icon" #searchButton type="button" (click)="search()" [disabled]="!searchTerm" id="searchMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        </button>
        <div class="p-2 scrollable-search dropdown-menu dropdown-menu-right mt-0 pt-0  animated fadeIn" aria-labelledby="searchMenu">
            <div class="row mx-0">
                <a (click)="closeDropdown(this)" class="action-icon float-right px-2 ml-auto">&times;</a>
            </div>
            <div class="col-12 text-center mb-2">
                {{ usersFound.length }} {{ lang.text.search.resultsFound }}</div>
            <div class="card action-icon mb-2" *ngFor="let user of usersFound">
                <div class="row card-body mx-auto p-2" (click)="viewProfile(user.nickName)">
                    <div class="col-2 px-0">
                        <img class="w-100 rounded-circle" src="{{global.URL_S3_USERS + user.profilePicture}}" onerror="this.src='https://s3.us-east-2.amazonaws.com/socialmediaimages2017/app_images/emptyprofile.png'">
                    </div>
                    <div class="col-10">
                        <h5 class="mb-0">@{{ user.nickName }}</h5>
                        <p class="text-muted" *ngIf="user.firstName && user.lastName">{{ user.firstName + ' ' + user.lastName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>