<div class="col">
    <span class="btn btn-info float-right" [routerLink]="['/']">Go Back</span>
    <h1>GDPR PRIVACY POLICY</h1>
    <p>This notification is to inform you of the Kutatku policy about all data that you submit to us. The guideline as touching
        how we may process any data that user submits to us, or that we collect from users is outlined in this policy document.
        This may include data that could identify you (“personal information”) and data that will not. You understand and
        accept that if there are one or more points of the part of this document that you are not happy with or disagree
        with, your only recourse is to leave our website immediately. We at Kutatku are concerned about the protection of
        users’ confidentiality and privacy, we, therefore, take this seriously. Visitors to our website are entitled to be
        acquainted with how their personal data will be deployed. Kutatku will not utilize users’ data in any way other than
        the ones intended by users and will protect your data from accidentally getting into the hands of any third party.
        The confidentiality of all data that is submitted to Kutatku is preserved and we request that users do the same.
        The policy outlined below is implemented according to the English & US laws and including that required by the EU
        General Data Protection Regulation (GDPR). In line with the requirement of the law, we enlighten you about your rights
        and our obligations when it borders on the usage and control of users’ personal data. Kutatku does not disclose,
        share or sell to a third party, any data collected through our website, except as set out below.</p>

    <h2>EU GDPR DATA COMPLIANCE</h2>
    <p>Under the GDPR guidelines, Kutatku is a “data processor” and our customers are referred to as the “data controllers”.
        Users (customers) are responsible for consent gathering requirements and meeting additional privacy requirements
        for the individual use case. Our services are built in a way intended to protect privacy and personal data of our
        consumers. Kutatku respects and value the right to privacy of our customers.</p>

    <h2>THIRD PARTY</h2>
    <p>Kutatku may contact you at any time about any offer that is considered to be of interest to you, this may be done
        on behalf of our business partners. Under such circumstances, your personal data which may include your name, e-mail,
        telephone number, and your address may be transferred to the said third party. Kutatku may share necessary data with
        trusted partners for the sake of providing support to users, sending users email or postal mail, statistical analysis,
        or for the purpose of deliveries. Such third parties are forbidden from using users’ personal data except to provide
        services described in this policy document and are obligated to preserve the confidentiality and privacy of your
        data. Kutatku may release your personal data, without notice, only if and when mandatory to do so by law or in the
        good faith belief that it is crucial to (a) act under urgent situations to protect the individual safety of users
        of Kutatku, or the public. (b) protect and or defend Kutatku’s rights or property; and, (c) adapt to the acts of
        the law or act in accordance with legal process served on Kutatku or the site;</p>

    <h2>COLLECTED PERSONALLY IDENTIFIABLE INFORMATION</h2>
    <p>While you visit or use the Website, we collect different types of personally identifiable information. The following
        are the types of information we collect:</p>
    <h3>Submitted information</h3>
    <p>Many personally identifiable information we collect comes directly from users who are interested in obtaining various
        products and services through the Website. Typically, this information includes your account name, e-mail, mailing
        address, credit card and billing information, and marketplace credentials from users. We may also collect other information
        which we may associate with personally identifiable information. We collect such information that are personally
        identifiable when you log on, register or visit the Website, as well as when you participate in activities on the
        Website, like completing a user registration form, placing an order, creating an address book, using our Shopping,
        filling an online survey, participating in a rebate offer, promotion, contest, sweepstakes or game.</p>
    <h3>Non – personally identifiable information </h3>
    <p>We collect some non-personally identifiable information through technology to make the Website more useful and interesting
        to you. For example, when you visit the Website, we collect your Internet Protocol “IP” address; which is often connected
        to the portal through which you enter the Internet, like your Internet service provider. Ordinarily, your IP address
        cannot be personally identifiable with you. Sometimes, we also use Internet Protocol “IP” addresses to gather information
        relating to the frequency and rate with which our customers visit and use different parts of the Website. However,
        we may combine this information with personally identifiable information as described above.</p>

    <h3>Cookies Policy Under GDPR Compliance</h3>
    <p>We use cookies on the Kutatku website. Upon your first visit to our website, we will ask you if you wish to allow
        us to use cookies. You have the option of not accepting the cookies, we may not use cookies for your visit to the
        site except to document that you have not consented to the use of cookies for any other purpose. If you do not use
        cookies or deactivate the usage through the settings on your browsing device, you will be unable to use all the website
        functionalities.
    </p>
    <h3>Kutatku uses cookies in the following ways:</h3>
    <ol>
        <li>To track the usage of our website</li>
        <li>To record whether you have seen specific messages we display on our website</li>
        <li>To keep you signed in on our site</li>
        <li>To record your answers to surveys and questionnaires on our site while you complete them</li>
        <li> To record the conversation thread during a live chat with our support team</li>
    </ol>
    <p>Most browsers are primarily preset to accept cookies. You can disable this in your browser settings; your browser
        will reject all cookies or indicate when a cookie is being sent. For instructions, you may need to refer to the technical
        information available for your type of browser. You understand that some parts of this Site may not function appropriately
        or may become slower if you disable the use of cookies on your browser.</p>
    <h2>BROWSING ACTIVITY PERSONAL IDENTIFIERS</h2>
    <p>You understand and assent that any request generated by users on our servers for web pages or content and other applicable
        materials on the Kutatku website is recorded. You understand that our system may collect data about your computer
        hardware and the software automatically. This data may include user’s IP address, access time, referring website
        addresses, domain names, and the browser type. The information retrieved may be used to improve our operations to
        better serve our users, to maintain the quality of our service, and to acquire needed statistics in respect of the
        usage of our Site. User’s geographical location, internet service provider, and IP address are data that Kutatku
        will acquire and may retain such. We may also acquire and may retain data about the software that you use to browse
        our website, the type of computer or browsing device and the screen resolution. Kutatku uses the data acquired to
        evaluate the acceptance and usage of our website and to appraise the effectiveness of content provided to users.
        If pooled with other data, we are able to recognize repeat users from previous visits; the data may be possibly used
        to ascertain user’s individuality, even if you are not signed in to our website.</p>


    <h2>DISCLOSURE AND SHARING OF USERS’ DATA</h2>
    <h3>Data that we obtain from third parties</h3>
    <p>You understand that we may sometimes acquire data that is indirectly made up from your personal data from our third
        party service agent. Although Kutatku does not disclose user’s personal data to third party except as outlined in
        this policy notice.
    </p>

    <h2>USE OF USER’S PERSONAL DATA</h2>
    <p>Users of our products and services are required to submit some personal data; we use this data to operate our website(s)
        and to ultimately deliver requested services to users on the platform. You understand that Kutatku may use personally
        identifiable data of users to inform users of other products or services available from Kutatku and our partners.
        We may also reach you via surveys to seek your opinion about our current services or for an entirely new service.
        No such information is personally identifiable to you.</p>

    <h2>HOW WE USE YOUR INFORMATION</h2>
    <p>Kutatku uses users’ data in the following ways:</p>
    <ul>
        <li>To notify users about services and/or events which we consider of interest to users, in cases where users have
            consented to be communicated for such purposes;</li>
        <li>To aid identification of our users and any purchaser account that users hold with us;</li>
        <li>To customize users’ experience;</li>
        <li>To enable Kutatku to appraise, and improve upon our website and its services;</li>
        <li>To update you about any modifications to our website and/or upgrade of our services;</li>
        <li>To troubleshoot problems and resolve disputes; and</li>
        <li>To determine and guard against possible and potential error, fraud and other reprehensible activities</li>
    </ul>
    <h2>OUR USE OF RE-MARKETING</h2>
    <p>You understand that for the purpose of re-marketing, we may deploy cookies on your computer when you browse our website;
        we do this to be able to push to you adverts for our products or services when you visit other websites. Kutatku
        may utilize the services of a third-party service provider to help us with re-marketing services from time to time.
        Congruently, you understand that your consent to the use of cookies will predispose you to see our products and services
        advertisements on other websites.</p>
    <h2>THIRD PARTY ADVERTISING </h2>
    <p>You understand that third parties may advertise on our website. As a result, these third parties and their agents
        may deploy technology that collects data about you when such advertisement is exhibited on our website. Third parties
        may also deploy the use of cookies or JavaScript to customize the content of their adverts and to determine the performance
        of the same. You understand that Kutatku does not have any control over the technologies deployed or the information
        that these third parties obtain. Consequently, this policy document does not cover third parties data practices.</p>

    <h2>USE OF TRACKING MECHANISMS</h2>
    <p>Be informed that where it concerns the usage of our web or Services and that of our third party service providers,
        we may make use of tracking tools to track data. We may combine this data with other information that you submit
        on our Site, our third party service providers may also do this on our behalf.</p>

    <h2>THIRD PARTY ANALYTICS</h2>
    <p>Kutatku deploys devices and applications that are automated to estimate our Site usage, and to the extent legitimate,
        our Services, we may use tools like Google Analytics. We may also deploy other analytic means to evaluate our Services
        as deemed necessary. You understand that we utilize these tools to aid us in our quest to improve upon the Services
        rendered to users, the system performance, and user experiences.</p>
    <h2>PROCESSING DATA OUTSIDE THE EUROPEAN UNION</h2>
    <p>Kutatku websites are hosted in Hackensack, New Jersey. Outsourced services in countries not within the European Union
        may be used frequently in other phases of our business. Data obtained within the US law or other countries could
        be processed accordingly out of the European Union. For example, our websites use some software that may have been
        developed in the UK or North Wales. Concerning data transferred out of the European Union, Kutatku uses the following
        protection mechanism:</p>
    <ul>
        <li>The processor abides by the same rule binding corporate information processing and within the same corporate
            group as our organization.</li>
        <li>Transfer clauses written or approved by a supervisory power in the European Union is included in the data protection
            clauses in our contracts with data processors.</li>
        <li>Kutatku is guided and complies with a code of ethics accepted by a supervisory authority in the European Union</li>
        <li>Kutatku is certified under an approved certification mechanism as provided for in the GDPR</li>
        <li>Both the processor and organization are public specialists, who are either bound legally or are bound by administrative
            arrangements accepted by a supervisory authority in the European Union which relates to protecting your information.</li>
    </ul>
    <h2>INFORMATION RETRIEVAL</h2>
    <p>If you wish us to retrieve information that can be personally identified with you from our Kutatku, we can be contacted
        at info@kutatku.com There may be a limit to the service that we can offer you by so doing.</p>

    <h2>DATA VERIFICATION </h2>
    <p>Reasonable steps shall first be taken for identity verification before granting you access or taking action when we
        receive any request to access, delete or edit personal data. This is in a bid to protect your personal data.</p>

    <h2>DATA ENCRYPTION </h2>
    <p>Kutatku uses Secure Sockets Layer (SSL) certificates for our identity verification on your browser and also to encrypt
        any data provided by users on our website. Whenever there’s a transfer of information between user and Kutatku, it
        is done using SSL. To confirm this, look for the symbol of a closed padlock or other trusted symbol in your browser’s
        URL bar or toolbar.</p>

    <h2>LODGING COMPLAINTS</h2>
    <p>If you experience any difficulty while using our site or you have any complaints, you can contact us by email on info@kutatku.com
        If there’s an unsettled dispute, we hope that you agree to an attempt to resolve it with us in a process of settlement
        or negotiation. You have the right to lodge a complaint with the Information Commissioner’s Office if there’s an
        issue of dissatisfaction about how your personal information is being handled.</p>


    <h2>PERSONAL DATA RETENTION PERIOD</h2>
    <p>Kutatku keeps your personal information for as long as required by us but only for a maximum period of 180 days except
        as otherwise mentioned in this privacy notice. We keep your information to:</p>
    <ul>
        <li>a. Provide your requested services;</li>
        <li>b. Comply with other laws, including the demanded period by our tax authorities. </li>
        <li>c. support a claim or defense in court. </li>
    </ul>
    <h2>SECURITY OF YOUR PERSONAL INFORMATION</h2>
    <p>Because Email is not recognized as a secure medium of communication, we do not request that you send private information
        to us via Email. However, doing so is entirely at your own risk. Credit card details and other seemingly sensitive
        information are never transmitted by Email but some of the information you may enter on our website may be securely
        transmitted via a medium known as Secure Sockets Layer or SSL. Note that this medium is totally secure. To identify
        system performance or areas of problems, to determine technical design specifications, to determine what information
        are most and least important and to assess the number of visitors to various sections of our website, Kutatku may
        use software programs for summary statistics creation which are used for such purposes. Also, to ensure that this
        service remains available to all users and for website security purpose, Kutatku uses software programs in monitoring
        network traffic in order to identify unauthorized attempts to alter or upload information or otherwise cause any
        damage whatsoever. Your personal information is secured from unauthorized access, disclosure, and use and that is
        done by using the following methods:</p>
    <p>
        – SSL Protocol </p>
    <p>The Secure Sockets Layer (SSL) protocol is an encryption that is used for protection when personal information (such
        as a credit card number) is transmitted to other websites. Our connections are encrypted with some of the same technology
        used by banks to protect information and Kutatku has also deployed reasonable security protocols that protect our
        products and services from being hacked or tampered with by 3rd parties.</p>


    <h2>COMPLIANCE WITH THE LAW</h2>
    <p>If this privacy policy fails to satisfy the law of your jurisdiction, we would like to hear from you because, the
        privacy has been compiled to fully comply with the law of Hackensack, New Jersey, USA and every other legal jurisdiction
        or country that we hope to do business. This is inclusive of the European Union Regions under the GDPR Compliance.
        You are, however, ultimately the one to decide to use our website.</p>


    <h2>POLICY REVIEW/MODIFICATION</h2>
    <p>Please be informed that Kutatku may update this privacy notice as deemed necessary from time to time. However, the
        policy remains up to date as of the effective date above. The terms that are applicable to you are the ones you see
        as at the time and day that you visit and use our website. Users are advised to print and keep a copy for record
        purpose. Please contact us for any question in respect of the privacy policy.</p>

    <h2>CONTACTING US</h2>
    <p>For any concerns, questions and comments about this Policy or services, kindly contact us at: info@kutatku.com</p>
</div>