<div class="backdrop" [ngStyle]="{'display': display}" (click)="close()"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h4 class="modal-title"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> SORUN</h4>
            </div>
            <div class="modal-body">
                <p>{{ error }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" (click)="close()"><i class="fa fa-times-circle" aria-hidden="true"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>