<div class="modal animated fadeIn" #modalElement tabindex="-1" role="dialog">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" (click)="close(false)"><i class="fas fa-times-circle"></i></button>
                <form [formGroup]="postForm">
                    <div class="row">
                        <div class="col">
                            <textarea #message formControlName="content" id="postcontent" class="form-control" rows="3" placeholder="{{ lang.text.post.shareHere }}" maxlength="256"></textarea>
                        </div>
                    </div>
                    <div class="row my-0">
                        <p class="col my-0 text-right small text-muted">
                            {{ 256 - message.value.length }} {{ lang.text.general.charsLeft }}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="btn btn-outline-primary text-center btn-sm btn-block mb-0" *ngIf="!imageToShow" for="postPictureFile">
                                <i class="fal fa-image" aria-hidden="true"></i> {{ lang.text.general.selectPicture }}</label>
                            <label class="btn btn-outline-primary text-center btn-sm mb-0" *ngIf="imageToShow" (click)="deletePostPicture()">
                                <i class="fal fa-trash" aria-hidden="true"></i> {{ lang.text.general.deletePicture }}</label>

                            <input hidden id="postPictureFile" type="file" (change)="fileChangeEvent($event)" />

                            <image-cropper *ngIf="imageChangedEvent" [cropper]="cropperSize" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                                [aspectRatio]="1/1" [resizeToWidth]="320" format="jpeg" (imageCropped)="imageCropped($event)"
                                (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                            <canvas id="rotateCanvas" class="d-none"></canvas>
                            <div class="rotate-preview-wrapper mx-auto m-2" *ngIf="isRotating">
                                <img id="i1" class="rotate-image-preview" src="" alt="" />
                            </div>
                        </div>
                        <div class="row col justify-content-center mx-auto">
                            <button class="btn btn-outline-primary text-center btn-sm" *ngIf="croppedImage" type="button" (click)="rotateImage()">
                                <i class="fal fa-sync-alt"></i> {{ lang.text.general.turn }}</button>
                            <button class="btn btn-outline-primary text-center btn-sm" *ngIf="croppedImage" type="button" (click)="addPostImage()">
                                <i class="fal fa-image" aria-hidden="true"></i> {{ lang.text.general.upload }}</button>
                            <button class="btn btn-outline-primary text-center btn-sm" *ngIf="croppedImage" type="button" (click)="emptyPostImage()">
                                <i class="fal fa-image" aria-hidden="true"></i> {{ lang.text.general.cancel }}</button>
                            <img hidden [src]="croppedImage" />
                        </div>
                    </div>

                    <div class="row my-4 text-center" *ngIf="pictureMessage">
                        <div class="col">
                            {{ pictureMessage }}
                        </div>
                    </div>

                    <div class="row justify-content-center my-4" *ngIf="imageToShow">
                        <div class="col-9 align-self-center">
                            <img class="w-100" src="{{global.URL_S3_POSTS + imageToShow}}">
                        </div>
                        {{ lang.text.general.pictureSuccessful }}
                    </div>
                </form>
            </div>
            <div class="modal-footer p-2">
                <button class="btn btn-outline-primary btn-sm" type="submit" (click)="onSubmit()" [disabled]="postForm.value.content == '' || (croppedImage != '' && imageToShow == '')">
                    <i class="fal fa-share-square" aria-hidden="true"></i> {{ lang.text.general.share }}</button>
                <!-- <button type="button" class="btn btn-outline-primary btn-sm" (click)="close(false)">
                    <i class="fal fa-times-circle" aria-hidden="true"></i> {{ lang.text.general.close }}</button> -->
            </div>
        </div>
    </div>
</div>