<div class="modal fade" #modalElement tabindex="-1" role="dialog">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" (click)="close()">&times;</button>
                <form [formGroup]="postForm">
                    <div class="row">
                        <div class="col">
                            <textarea #message formControlName="content" id="content" class="form-control" rows="2" placeholder="Mesajiniz... " maxlength="256"></textarea>
                        </div>
                    </div>
                    <div class="row my-0">
                        <p class="col my-0 text-right small text-muted">
                            {{ 256 - message.value.length }} karakter kaldi.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="btn btn-info text-center btn-sm mb-0" *ngIf="!imageToShow" for="postPictureFile">
                                <i class="fa fa-image" aria-hidden="true"></i> Resim sec</label>
                            <label class="btn btn-danger text-center btn-sm mb-0" *ngIf="imageToShow" (click)="deletePostPicture()">
                                <i class="fa fa-trash" aria-hidden="true"></i> Resmi sil</label>

                            <input hidden id="postPictureFile" type="file" (change)="fileChangeEvent($event)" />

                            <image-cropper *ngIf="imageChangedEvent" [cropper]="cropperSize" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                                [aspectRatio]="1/1" [resizeToWidth]="320" format="jpeg" (imageCropped)="imageCropped($event)"
                                (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                            <canvas id="rotateCanvas" class="d-none"></canvas>
                            <div class="rotate-preview-wrapper mx-auto m-2" *ngIf="isRotating">
                                <img id="i1" class="rotate-image-preview" src="" alt="" />
                            </div>
                        </div>
                        <div class="row col justify-content-center mx-auto">
                            <button class="btn btn-warning text-center btn-sm" *ngIf="croppedImage" type="button" (click)="rotateImage()">
                                <i class="fas fa-sync-alt"></i> Cevir</button>
                            <button class="btn btn-success text-center btn-sm" *ngIf="croppedImage" type="button" (click)="addPostImage()">
                                <i class="fa fa-image" aria-hidden="true"></i> Yukle</button>
                            <button class="btn btn-danger text-center btn-sm" *ngIf="croppedImage" type="button" (click)="emptyPostImage()">
                                <i class="fa fa-image" aria-hidden="true"></i> Iptal et</button>
                            <img hidden [src]="croppedImage" />
                        </div>
                    </div>

                    <div class="row my-4 text-center" *ngIf="pictureMessage">
                        <div class="col">
                            {{ pictureMessage }}
                        </div>
                    </div>

                    <div class="row justify-content-center my-4" *ngIf="imageToShow">
                        <div class="col-12">
                            <img class="w-100" src="{{global.URL_S3_POSTS + imageToShow}}">
                        </div>
                        Resim basari ile yuklendi!
                    </div>
                </form>
            </div>
            <div class="modal-footer p-2">
                <button class="btn btn-primary btn-sm" type="submit" (click)="onSubmit()" [disabled]="postForm.value.content == '' || (croppedImage != '' && imageToShow == '')">
                    <i class="fa fa-share-square" aria-hidden="true"></i> Paylas</button>
                <button type="button" class="btn btn-default btn-sm" (click)="close(false)">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>