<div class="row justify-content-center align-self-center" *ngIf="!isLoggedIn()">
    <div class="col-md-5 col-12">
        <div class="card">
            <div class="card-header px-2 pt-0">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['signin']" routerLinkActive="active">
                            <i class="fa fa-sign-in-alt" aria-hidden="true"></i> {{ lang.text.classifieds.login }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['signup']" routerLinkActive="active">
                            <i class="fa fa-file" aria-hidden="true"></i> {{ lang.text.classifieds.signup }}</a>
                    </li>
                </ul>
            </div>
            <div class="card-body p-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>