<div class="row">
    <form class="col-md-6" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" id="nickName" class="form-control" placeholder="Rumuz (Anonim sohbette gozukecek)" formControlName="nickName">
        </div>
        <div class="form-group">
            <input type="email" id="email" class="form-control" placeholder="E-posta" formControlName="email">
        </div>
        <div class="form-row mb-3">
            <div class="col-12 pl-3"><p class="small alert alert-warning"><i class="fa fa-exclamation"></i> Isim ve soyismi doldurmak, arkadas aramalarinda kolay bulunabilmeniz icin tavsiye olunur. Kalan bilgileri hesabinizi actiktan sonra doldurabilirsiniz.</p></div>
            <div class="col-6">
                <input type="text" id="firstname" class="form-control" placeholder="Isim" formControlName="firstName">
            </div>
            <div class="col-6">
                <input type="text" id="lastname" class="form-control" placeholder="Soyisim" formControlName="lastName">
            </div>
        </div>
        <div class="form-group">
            <input type="password" id="password" class="form-control" placeholder="Sifre" formControlName="password">
        </div>
        <div class="form-group">
            <input type="password" id="password2" class="form-control" placeholder="Sifreyi tekrar giriniz" formControlName="password2">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">
                <i class="fa fa-file" aria-hidden="true"></i> Kayit ol</button>
        </div>
    </form>
    <div class="col-md-6 text-center my-auto">
        <i class="fa fa-user-plus fa-9x" aria-hidden="true"></i>
    </div>
</div>