<div class="modal animated fadeIn" #modalElement tabindex="-1" role="dialog">
    <div class="modal-dialog " [ngClass]="{'modal-lg': ad?.picture}" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
                <div class="row mx-auto">
                    <div class="col-md-6 px-0" *ngIf="ad?.picture">
                        <img src="{{ global.URL_S3_ADS + ad?.picture }}" onerror="this.onerror=null; this.src='https://s3.us-east-2.amazonaws.com/kutatku/app_images/uploadempty.png'"
                            class="w-100">
                    </div>
                    <div class="col my-3">
                        <h5>{{ ad?.title }} </h5>
                        <p>{{ lang.text.classifieds.category }}: {{ ad?.category }}</p>
                        <p class="text-muted small">{{ lang.text.classifieds.date }}: {{ ad?.created | date: 'shortDate' }}</p>
                        <hr>
                        <p class="lead text-muted breakable-word">
                            {{ ad?.content }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer row justify-content-center p-2" *ngIf="belongsToUser()">
                <button class="btn btn-outline-primary w-25" (click)="onEdit()">
                    <i class="fal fa-edit" aria-hidden="true"></i>
                </button>
                <button class="btn btn-outline-primary w-25" (click)="onDelete()">
                    <i class="fal fa-trash" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-footer row justify-content-center p-2">
                <button class="btn border-0 btn-sm w-25 btn-outline-primary"
                    (click)="getLink()"> Link
                    <i class="fal fa-link"></i>
                </button>
            </div>
        </div>
    </div>
</div>