<div class="row my-4">
    <div class="col-auto align-self-center mx-auto my-2">
        <img class="img-responsive"
            src="https://kutatku.com/comodo_secure_seal_76x26_transp.png">
        <script language="JavaScript" type="text/javascript">
                TrustLogo("https://kutatku.com/comodo_secure_seal_76x26_transp.png", "CL1", "none");
            </script>
        <a href="https://ssl.comodo.com" id="comodoTL">Comodo SSL</a>
    </div>
    <div class="col-12 my-0 text-muted text-center">
        <span class="action-icon" [routerLink]="['/legal']">Terms</span> -
        <span class="action-icon" [routerLink]="['/gdpr']">GDPR Privacy</span>
    </div>
    <div class="col-12 my-0 text-muted">
        <p class="text-center">Copyright &copy; 2018 Kutatku </p>
    </div>
    <div class="col-12">
        <div class="py-1 text-center text-muted small">
            <span class="action-icon" (click)="switchLanguage('turkish')">Türkçe</span>
            -
            <span class="action-icon" (click)="switchLanguage('english')">English</span>
        </div>
    </div>
</div>