<div class="modal fade" #modalElement tabindex="-1" role="dialog">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-header py-1 bg-danger">
                <h4 class="modal-title">
                    <i class="fa fa-exclamation" aria-hidden="true"></i> SIKAYET <button type="button" class="close"
                        data-dismiss="modal">&times;</button></h4>
            </div>
            <div class="modal-body" *ngIf="complaint">
                <p>Mesaj: {{ complaint['message'] }}</p>
                <p>Sahibi: {{ complaint['name'] }}</p>
                <p>Paylasilma tarihi: {{ complaint['date'] | date: 'long' }} </p>
                <p>Sikayet eden: {{ complaint['complainer'] }} </p>
                <hr>
                <h3>Islem:</h3>
                <p>Sikayet edilen kisiyi dilediginiz gun sayisi kadar sohbetlerden uzaklastirabilirsiniz.</p>
                <input class="form-control" min="1" max="30" type="number" placeholder="Gun sayisi" [(ngModel)]="days">
            </div>
            <div class="modal-footer p-2">
                <button class="btn btn-danger btn-sm" (click)="blockFromChat(complaint['name'])">
                    <i class="fa fa-ban"></i> Yasakla</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>