<div class="modal animated fadeIn" #modalElement tabindex="-1" role="dialog">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-header py-1 bg-danger">
                <h4 class="modal-title">
                    <i class="fal fa-exclamation" aria-hidden="true"></i> {{ lang.text.complaint.title }} <button type="button"
                        class="close" data-dismiss="modal">&times;</button></h4>
            </div>
            <div class="modal-body" *ngIf="complaint">
                <p>{{ lang.text.complaint.message }}: {{ complaint['message'] }}</p>
                <p>{{ lang.text.complaint.owner }}: {{ complaint['name'] }}</p>
                <p>{{ lang.text.complaint.date }}: {{ complaint['date'] | date: 'long' }} </p>
                <p>{{ lang.text.complaint.complainer }}: {{ complaint['complainer'] }} </p>
                <hr>
                <h3>{{ lang.text.complaint.process }}:</h3>
                <p>{{ lang.text.complaint.processText }}</p>
                <input class="form-control" min="1" max="30" type="number" placeholder="{{ lang.text.complaint.placeHolderDays }}" [(ngModel)]="days">
            </div>
            <div class="modal-footer p-2">
                <button class="btn btn-outline-primary btn-sm" (click)="blockFromChat(complaint['name'])">
                    <i class="fal fa-ban"></i> {{ lang.text.complaint.ban }}</button>
                <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">
                    <i class="fal fa-times-circle" aria-hidden="true"></i> {{ lang.text.general.close }}</button>
            </div>
        </div>
    </div>
</div>